body {
  --tk-colour-blind-positive: #009e73;
  --tk-colour-blind-positive-active: #00b887;
  --tk-colour-blind-warning: #797dec;
  --tk-colour-blind-warning-active: #8e91f0;
  --tk-colour-blind-negative: #d55e00;
  --tk-colour-blind-negative-active: #f07000;

  --header_label_positive: var(--tk-colour-blind-positive) !important;
  --header_tbb_positive_background: var(--tk-colour-blind-positive) !important;
  --budget_balance_positive_background: var(--tk-colour-blind-positive) !important;
  --budget_balance_positive_background_active: var(--tk-colour-blind-positive-active) !important;

  --header_label_warning: var(--tk-colour-blind-warning) !important;
  --budget_balance_warning_background: var(--tk-colour-blind-warning) !important;
  --budget_balance_warning_background_active: var(--tk-colour-blind-warning-active) !important;

  --header_label_negative: var(--tk-colour-blind-negative) !important;
  --header_tbb_negative_background: var(--tk-colour-blind-negative) !important;
  --budget_balance_negative_background: var(--tk-colour-blind-negative) !important;
  --budget_balance_negative_background_active: var(--tk-colour-blind-negative-active) !important;
}

/* Square edges for negative values */
.ynab-new-budget-available-number.negative {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

.left-to-budget-is-negative .budget-header-totals-amount {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}
