body {
  --tk-colour-blind-positive-lightest: #dbfff5;
  --tk-colour-blind-positive-lighter: #00b887;
  --tk-colour-blind-positive: #009e73;
  --tk-colour-blind-positive-darker: #0d4a3a;
  --tk-colour-blind-positive-darkest: #082b22;

  --tk-colour-blind-warning-lightest: #e8e9fc;
  --tk-colour-blind-warning-lighter: #8e91f0;
  --tk-colour-blind-warning: #797dec;
  --tk-colour-blind-warning-darker: #191fb3;
  --tk-colour-blind-warning-darkest: #151637;

  --tk-colour-blind-negative-lightest: #fff4eb;
  --tk-colour-blind-negative-lighter: #f07000;
  --tk-colour-blind-negative: #d55e00;
  --tk-colour-blind-negative-darker: #803700;
  --tk-colour-blind-negative-darkest: #321f11;

  --label_positive: var(--tk-colour-blind-positive) !important;
  --label_warning: var(--tk-colour-blind-warning) !important;
  --label_negative: var(--tk-colour-blind-negative) !important;
  --label_negative_disabled: var(--tk-colour-blind-negative-lighter) !important;

  --label_positive_active: var(--tk-colour-blind-positive-darker) !important;
  --label_warning_active: var(--tk-colour-blind-warning-darker) !important;
  --label_negative_active: var(--tk-colour-blind-negative-darker) !important;

  --header_label_positive: var(--tk-colour-blind-positive) !important;
  --header_label_warning: var(--tk-colour-blind-warning) !important;
  --header_label_negative: var(--tk-colour-blind-negative) !important;

  /* To be budgeted box */
  --header_tbb_positive_background: var(--tk-colour-blind-positive) !important;
  --header_tbb_negative_background: var(--tk-colour-blind-negative) !important;

  /* Budget balance backgrounds */
  --budget_balance_positive_background: var(--tk-colour-blind-positive-lighter) !important;
  --budget_balance_positive_background_active: var(--tk-colour-blind-positive) !important;
  --budget_balance_warning_background: var(--tk-colour-blind-warning-lighter) !important;
  --budget_balance_warning_background_active: var(--tk-colour-blind-warning) !important;
  --budget_balance_negative_background: var(--tk-colour-blind-negative-lighter) !important;
  --budget_balance_negative_background_active: var(--tk-colour-blind-negative) !important;

  /* Budget bars */
  --budget_bar_funded: var(--tk-colour-blind-positive) !important;
  --budget_bar_funded_spending: var(--tk-colour-blind-positive-lighter) !important;
  --budget_bar_funded_spending_stripe: var(--tk-colour-blind-positive-lightest) !important;

  --budget_bar_underfunded: var(--tk-colour-blind-warning) !important;
  --budget_bar_underfunded_spending: var(--tk-colour-blind-warning-lighter) !important;
  --budget_bar_underfunded_spending_stripe: var(--tk-colour-blind-warning-lightest) !important;

  --budget_bar_overspending: var(--tk-colour-blind-negative) !important;
  --budget_bar_overspending_stripe: var(--tk-colour-blind-negative-lighter) !important;

  /* General messages */
  --message_positive_background: var(--tk-colour-blind-positive-lighter) !important;
  --message_positive_accent: var(--tk-colour-blind-positive) !important;
  --message_positive_label: var(--tk-colour-blind-positive-darkest) !important;

  --message_warning_background: var(--tk-colour-blind-warning-lighter) !important;
  --message_warning_accent: var(--tk-colour-blind-warning) !important;
  --message_warning_label: var(--tk-colour-blind-warning-darkest) !important;

  --message_negative_background: var(--tk-colour-blind-negative-lighter) !important;
  --message_negative_accent: var(--tk-colour-blind-negative) !important;
  --message_negative_label: var(--tk-colour-blind-negative-darkest) !important;

  /* Inspector messages - recently replaced with above as of time of writing but still in YNAB stylesheet */
  --inspector_message_positive_background: var(--message_positive_background) !important;
  --inspector_message_positive_border: var(--message_positive_accent) !important;
  --inspector_message_positive_label: var(--message_positive_label) !important;

  --inspector_message_warning_background: var(--message_warning_background) !important;
  --inspector_message_warning_border: var(--message_warning_accent) !important;
  --inspector_message_warning_label: var(--message_warning_label) !important;

  --inspector_message_negative_background: var(--message_negative_background) !important;
  --inspector_message_negative_border: var(--message_negative_accent) !important;
  --inspector_message_negative_label: var(--message_negative_label) !important;
}

body.theme-dark {
  --label_positive_active: var(--tk-colour-blind-positive-lighter) !important;
  --label_warning_active: var(--tk-colour-blind-warning-lighter) !important;
  --label_negative_active: var(--tk-colour-blind-negative-lighter) !important;

  /* Budget balance backgrounds */
  --budget_balance_positive_background: var(--tk-colour-blind-positive) !important;
  --budget_balance_positive_background_active: var(--tk-colour-blind-positive-lighter) !important;
  --budget_balance_warning_background: var(--tk-colour-blind-warning) !important;
  --budget_balance_warning_background_active: var(--tk-colour-blind-warning-lighter) !important;
  --budget_balance_negative_background: var(--tk-colour-blind-negative) !important;
  --budget_balance_negative_background_active: var(--tk-colour-blind-negative-lighter) !important;

  /* Budget bars */
  --budget_bar_funded: var(--tk-colour-blind-positive) !important;
  --budget_bar_funded_spending: var(--tk-colour-blind-positive-darker) !important;
  --budget_bar_funded_spending_stripe: var(--tk-colour-blind-positive-darkest) !important;

  --budget_bar_underfunded: var(--tk-colour-blind-warning) !important;
  --budget_bar_underfunded_spending: var(--tk-colour-blind-warning-darker) !important;
  --budget_bar_underfunded_spending_stripe: var(--tk-colour-blind-warning-darkest) !important;

  --budget_bar_overspending: var(--tk-colour-blind-negative) !important;
  --budget_bar_overspending_stripe: var(--tk-colour-blind-negative-darker) !important;

  /* General messages */
  --message_positive_background: var(--tk-colour-blind-positive-darkest) !important;
  --message_positive_accent: var(--tk-colour-blind-positive) !important;
  --message_positive_label: var(--tk-colour-blind-positive) !important;

  --message_warning_background: var(--tk-colour-blind-warning-darkest) !important;
  --message_warning_accent: var(--tk-colour-blind-warning) !important;
  --message_warning_label: var(--tk-colour-blind-warning) !important;

  --message_negative_background: var(--tk-colour-blind-negative-darkest) !important;
  --message_negative_accent: var(--tk-colour-blind-negative) !important;
  --message_negative_label: var(--tk-colour-blind-negative) !important;
}

/* Square edges for negative values */
.ynab-new-budget-available-number.negative {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

.left-to-budget-is-negative .budget-header-totals-amount {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}
