.budget-table-header {
  .budget-table-cell-name {
    margin-left: auto;
  }
}

.tk-budget-table-cell-goal {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-left: auto;

  width: 18%;
  justify-content: flex-end !important;
}

@media only screen and (max-width: 1650px) {
  .tk-budget-table-cell-goal,
  .budget-table-container .budget-table-cell-activity,
  .budget-table-container .budget-table-cell-available,
  .budget-table-container .budget-table-cell-budgeted {
    width: 15%;
  }
}
