#xtoolkitPopupCalc {
	padding-right: .3em;
}

.toolkit-popup-calc-button-hide {
    visibility: hidden;
}

.toolkit-popup-calc-button-show {
    visibility: visible;
    overflow: visible !important;
}

.toolkit-popup-calc-hide {
    visibility: hidden;
}

.toolkit-popup-calc-btnrow > li {
    display: inline-block;
}

.toolkit-popup-calc-div-inline-flex > li {
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
}
.toolkit-button-primary {
    padding: .3em .6em;
    border-radius: .4em;
    border: 2px solid transparent;
    color: #fff;
    background-color: #009cc2;
}

.xtoolkit-button-primary {
    padding: .1em .1em;
    border-radius: .1em;
    border: 1px solid transparent;
    color: #fff;
    background-color: #009cc2;
}
