<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.kangoextensions.ynabenhanced</string>
       <key>Developer Identifier</key>
       <string>7M68YQDBSE</string>
       <key>CFBundleVersion</key>
       <string>0.7.6</string>
       <key>CFBundleShortVersionString</key>
       <string>0.7.6</string>
       <key>Update From Gallery</key>
       <true/>
       <key>URL</key>
       <string>http://toolkitforynab.com/safari-updates/toolkitforynab_latest.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
