body.theme-classic .income-expense-row:hover {
  color: var(--sidebar_text_default) !important;
}

body.theme-classic .income-expense-row:hover .income-expense-first-column {
  color: var(--sidebar_text_default) !important;
}

body.theme-classic .income-expense-row.income-expense-totals:hover .income-expense-column {
  color: var(--sidebar_text_default) !important;
}

.income-expense-row:hover {
  background: var(--table_row_background_selected) !important;
}

.income-expense-row:hover .income-expense-first-column {
  background: var(--table_row_background_selected) !important;
}

.income-expense-row.income-expense-totals:hover .income-expense-column {
  background: var(--table_row_background_selected) !important;
}
