.budget-table-cell-name {
  position: relative;
}

.budget-table-row.is-checked .toolkit-table-cell-goal {
  background: #005a6e;
}

.toolkit-table-cell-goal-header {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 2.56rem;
}

.toolkit-table-cell-goal {
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 100%);
  position: absolute;
  font-size: 80%;
  padding-left: 0.75em;
  padding-right: 1px;
  line-height: 2.55em;
}
