body {
  min-width: 900px;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.inverted {
  -webkit-filter: invert(1) hue-rotate(180deg) brightness(1.2);
  filter: invert(1) hue-rotate(180deg) brightness(1.2);
  color: gray;
}

.inverted h2 {
  color: gray;
}

.inverted .help-block {
  color: gray;
}

.inverted .nav li a {
  color: gray;
}

.inverted .bootstrap-switch-handle-off {
  color: gray !important;
}

/* Start the whole page hidden, then we'll show it with JS once
   everything has loaded. The page is async, and we don't want to show
   it until it's ready. */
#wrapper {
  display: none;
}

.navbar-header {
  width: 100%;
}

.top-navbar {
  height: 120px;
}

.navbar-default {
  background-color: white;
}

#logo {
  display: block;
  margin: 10px auto 0;
  height: 91px;
}

label {
  font-size: 1.3em;
}

#main-menu li {
  font-size: 1.2em;
}

div.options {
  text-align: center;
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 260px;
  font-size: 1.2em;
  padding-top: 15px;
  border-top: 1px solid #F4F4F4;
}

div.options span {
  align-self: center;
}

div.options .darkMode {
  display: flex;
}

/* Make all icons green to match the logo */
i {
  color: #3CB54A;
}

.option-row {
  margin-top: 25px;
}

.option-description {
  display: inline-block;
  width: 70%;
}

.option-row > label, .option-row > select, .option-row > span {
  margin-left: 143px;
}

.option-row > .form-control {
  width: 70%;
}

.bootstrap-switch {
  vertical-align: top;
  margin: 0 15px;
}

/* All switches should be green when they're on too */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: #3CB54A;
}

.btn {
  margin: 18px 10px 0 0;
  background: ##D6D6D6;
}

.btn:hover {
  background: #ccc;
}

.btn:focus {
  outline: 0 !important;
}

.btn-primary, .btn-primary:focus {
  background: #3CB54A;
  color: #ffffff;
}

.btn-primary:hover {
  background: #66CC72;
}

.page-header {
  margin: 10px 0;
}

.page-header-buttons {
  position: relative;
  top: -6em;
  margin-bottom: -6em;
}

.active-menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.help-block {
  color: #292929;
  /* adjustments for markdown adding <p> */
  font-size: 16px;
  margin-top: -15px;
}

#settingsSaved {
  position: fixed;
  text-align: center;
  z-index: 99;
  top: 0px;
  left: 0px;
  width: 100%;
}

#importExportModal textarea {
  height: 200px;
  width: 100%;
}

#importExportModal .modal-footer {
  text-align: center;
}
