.layout.collapsed .content,
.layout.collapsed .budget-header {
	left: 40px;
}

.collapsed-buttons .active button {
	background-color: #194853;
	color: #fff;
}

.collapsed-buttons .active .collapsed-budget {
	color: #ceec00;
}

.collapsed-buttons .active .collapsed-reports {
	color: #fed168;
}

.collapsed-buttons .active .collapsed-account {
	color: #32dcff;
}
