.modal-popup .autocomplete-move-money {
    width: 65%;
    z-index: 3;
    position: absolute;
    top: 2px;
    right: 10px;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 0.2em;
}

#autocomplete-label {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 2px;
    padding-left: 8px;
    font-weight: normal;
    background: #fff;
    width: 30%;
}

.ynab-select-options {
    z-index: 2;
    top: 27px;
    width: 100% !important;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ynab-select-label.override {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff;
    border-bottom: 0;
}

.ynab-select-options li.is-selectable:focus {
    background-color: #00596f;
    color: #fff;
    outline: none;
}
