.budget-table-header .budget-table-cell-name {
  margin-left: auto;
}

.budget-table-header .tk-goal-table-cell {
  padding-right: 1em;
}

.tk-goal-table-cell {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin-left: auto;
}
