.budget-table-header .budget-table-cell-name {
  justify-content: space-between !important;
}

.budget-table-header .toolkit-goal-table-cell {
  padding-right: 1em;
}

.budget-table-cell-name {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.toolkit-goal-table-cell {
  display: flex;
  align-items: center;
  font-size: .8em;
}
