.ynab-grid-body-row.is-editing {
	background-color: #00596f !important;
}

.ynab-grid-cell.ynab-grid-cell-flag {
	position: relative;
}

.ynab-grid-cell.ynab-grid-cell-flag .ynab-grid-actions {
	font-size: .875em;
}
