.modal-account-edit-transaction-list .modal-arrow {
  transform-origin: top center;
}
.modal-account-edit-transaction-list .modal-above .modal-arrow {
  transform: rotate(180deg);
  transform-origin: center;
}
.modal-account-edit-transaction-list .modal-right .modal-arrow {
  transform: rotate(270deg);
}
.modal-account-edit-transaction-list .modal-left .modal-arrow {
  transform: rotate(90deg);
}

.modal-account-edit-transaction-list .modal-list .modal-sub-left {
  left: calc(4% - 256px);
}

.modal-account-edit-transaction-list .modal-above li ul {
	top: auto;
	bottom: -15px;
}

/* Fix arrow position in Firefox */
.modal-account-edit-transaction-list .arrow-right-1,
.modal-account-hide-column .arrow-right-1 {
	position: absolute;
	right: 11px;
	top: 4px;
}
