@import 'toolkit-reports/common/scss/variables.scss';

.tk-series-legend {
  font-size: 0.85rem;
  color: var(--default-text);
  background: var(--default_background);

  &__legend-icon {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
  }

  &__table-row {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    &:hover {
      background-color: $ynab-blue-8;
    }

    &--header {
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        background-color: inherit;
      }
    }
  }

  &__summary-total {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
