@import './variables.scss';

.tk-button {
  background-color: var(--button_primary_background);
  background: var(--button_primary_background);
  border-radius: 0.4rem;
  color: $white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  text-align: left;
  white-space: nowrap;

  &:hover {
    color: $white;
    background: var(--button_primary_background_active);
    background-color: var(--button_primary_background_active);
  }

  &--medium {
    font-size: 0.9rem;
  }

  &--small {
    font-size: 0.8rem;
  }

  &--hollow {
    background: transparent;
    background-color: transparent;
    border: 2px solid var(--action_secondary_border);
    color: var(--action_primary);

    &:hover {
      border: 2px solid var(--button_primary_background_active);
    }
  }

  &--text {
    border: none;
    color: $ynab-blue;
    background: transparent;
    background-color: transparent;

    &:hover {
      background: transparent;
      background-color: transparent;
      color: $ynab-blue-3;
    }
  }

  &--disabled {
    background: transparent;
    background-color: transparent;
    color: $grey-8;
    cursor: not-allowed;

    &:hover {
      background: transparent;
      background-color: transparent;
      color: $grey-8;
    }
  }
}
