.tk-button {
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--button_primary_background);
  border: 0.0625rem solid transparent;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 0.375rem 1rem;
  color: var(--label_dark_background);
  font-size: 1rem;
  white-space: nowrap;
  font-weight: 500;
  line-height: 1.2;

  &:hover {
    background-color: var(--button_primary_background_active);
  }

  &--medium {
    font-size: 0.9rem;
  }

  &--small {
    font-size: 0.8rem;
  }

  &--hollow {
    background-color: var(--button_secondary_background);
    border: 0;
    color: var(--button_secondary_label);

    &:hover {
      background-color: var(--button_secondary_background_active);
    }
  }

  &--text {
    border: none;
    color: var(--action_primary);
    background: transparent;
    background-color: transparent;
    border-radius: 1000px;
    padding: 0.25rem 0.75rem;
    height: unset;

    &:hover {
      background-color: var(--button_primary_background);
      color: var(--label_dark_background);
    }

    &.tk-button--hollow {
      &:hover {
        background-color: transparent;
        color: var(--action_primary_active);
      }
    }
  }

  &--disabled {
    background: transparent;
    background-color: transparent;
    color: var(--label_secondary);
    cursor: not-allowed;

    &:hover {
      background: transparent;
      background-color: transparent;
      color: var(--label_secondary) !important;
    }
  }
}
