@import './buttons.scss';
@import './variables.scss';

/* space fillers */
.tk-full-height { height: 100%; }
.tk-full-width { width: 100%; }

/* overflow handlers */
.tk-overflow-scroll { overflow: scroll; }

/* flexbox helpers */
.tk-flex { display: flex; }
.tk-flex-row { flex-direction: row; }
.tk-flex-column { flex-direction: column; }

.tk-flex-grow { flex-grow: 1; }
.tk-flex-grow-none { flex-grow: 0; }
.tk-flex-shrink { flex-shrink: 1; }
.tk-flex-shrink-none { flex-shrink: 0; }

.tk-justify-content-center { justify-content: center; }
.tk-justify-content-between { justify-content: space-between; }
.tk-justify-content-around { justify-content: space-around; }
.tk-justify-content-end { justify-content: flex-end; }

.tk-align-items-center { align-items: center; }

.tk-align-self-start { align-self: flex-start; }
.tk-align-self-end { align-self: flex-end; }

/* padding helpers */
.tk-pd-05 { padding: 0.5rem; }
.tk-pd-1 { padding: 1rem; }
.tk-pd-2 { padding: 2rem; }

.tk-pd-l-05 { padding-left: 0.5rem; }
.tk-pd-l-1 { padding-left: 1rem; }
.tk-pd-l-2 { padding-left: 2rem; }

.tk-pd-r-05 { padding-right: 0.5rem; }
.tk-pd-r-1 { padding-right: 1rem; }
.tk-pd-r-2 { padding-right: 2rem; }

.tk-pd-t-05 { padding-top: 0.5rem; }
.tk-pd-t-1 { padding-top: 1rem; }
.tk-pd-t-2 { padding-top: 2rem; }

.tk-pd-b-05 { padding-bottom: 0.5rem; }
.tk-pd-b-1 { padding-bottom: 1rem; }
.tk-pd-b-2 { padding-bottom: 2rem; }

.tk-pd-x-05 { padding-left: 0.5rem; padding-right: 0.5rem; }
.tk-pd-x-1 { padding-left: 1rem; padding-right: 1rem; }
.tk-pd-x-2 { padding-left: 2rem; padding-right: 2rem; }

.tk-pd-y-05 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.tk-pd-y-1 { padding-top: 1rem; padding-bottom: 1rem; }
.tk-pd-y-2 { padding-top: 2rem; padding-bottom: 2rem; }

/* padding helpers */
.tk-mg-0 { margin: 0 }
.tk-mg-05 { margin: 0.5rem; }
.tk-mg-1 { margin: 1rem; }
.tk-mg-2 { margin: 2rem; }

.tk-mg-l-05 { margin-left: 0.5rem; }
.tk-mg-l-1 { margin-left: 1rem; }
.tk-mg-l-2 { margin-left: 2rem; }

.tk-mg-r-05 { margin-right: 0.5rem; }
.tk-mg-r-1 { margin-right: 1rem; }
.tk-mg-r-2 { margin-right: 2rem; }

.tk-mg-t-05 { margin-top: 0.5rem; }
.tk-mg-t-1 { margin-top: 1rem; }
.tk-mg-t-2 { margin-top: 2rem; }

.tk-mg-b-05 { margin-bottom: 0.5rem; }
.tk-mg-b-1 { margin-bottom: 1rem; }
.tk-mg-b-2 { margin-bottom: 2rem; }

.tk-mg-x-05 { margin-left: 0.5rem; margin-right: 0.5rem; }
.tk-mg-x-1 { margin-left: 1rem; margin-right: 1rem; }
.tk-mg-x-2 { margin-left: 2rem; margin-right: 2rem; }

.tk-mg-y-05 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.tk-mg-y-1 { margin-top: 1rem; margin-bottom: 1rem; }
.tk-mg-y-2 { margin-top: 2rem; margin-bottom: 2rem; }

/* borders */
.tk-border   { border:        solid $grey-8 1px };
.tk-border-t { border-top:    solid $grey-8 1px };
.tk-border-l { border-left:   solid $grey-8 1px };
.tk-border-b { border-bottom: solid $grey-8 1px };
.tk-border-r { border-right:  solid $grey-8 1px };
.tk-border-x { border-right:  solid $grey-8 1px;
               border-left:   solid $grey-8 1px };
.tk-border-y { border-top:    solid $grey-8 1px;
               border-bottom: solid $grey-8 1px };
