.modal-account-edit-transaction-list .modal-above .modal-arrow
{
	bottom: auto !important;
	top: 100% !important;
	border-bottom-color: transparent !important;
	border-top-color: #fff !important;	
}

.modal-account-edit-transaction-list .modal-above li ul {
	top: auto;
	bottom: -15px;
}

/* Fix arrow position in Firefox */
.modal-account-edit-transaction-list .arrow-right-1, 
.modal-account-hide-column .arrow-right-1 {
	position: absolute;
	right: 11px;
	top: 4px;
}