.budget-table {
  position: static !important;
  overflow: scroll;
  height: 100%;
}

.budget-content {
  height: 100%;
  padding-top: 8em;
  position: static !important;
  flex: 0 0 auto;
  width: 80%;
  overflow: hidden;
}

.budget-table-header {
  position: static !important;
}

.budget-inspector {
  flex: 1 1 auto;
  padding: 0 !important;
  display: flex !important;
  position: static !important;
  width: auto !important;
  margin-top: 9.7em;
  overflow: hidden;
}

.scroll-wrap {
  display: flex;
  height: 100%;
}

.inspector-resize-handle {
  width: 10px;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #227e99;
  cursor: col-resize;
}

.inspector-resize-content {
  padding: 1em;
  width: 100%;
}
