{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "2",
        "useBuiltIns": "usage",
        "targets": {
          "chrome": "100",
          "firefox": "100"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
