{
    "env": {
        "browser": true,
        "es6": true,
        "jest/globals": true
    },
    "parser": "babel-eslint",
    "plugins": ["import", "jest"],
    "settings": {
      "import/resolver": "webpack"
    },
    "extends": "airbnb-base/legacy",
    "globals": {
        "$": true,
        "Chart": true,
        "Ember": true,
        "Highcharts": true,
        "Intercom": true,
        "chrome": true,
        "ensureDefaultsAreSet": true,
        "jQuery": true,
        "moment": true,
        "noUiSlider": true,
        "safari": true,
        "windowReload": true,
        "ynab": true,
        "ynabToolKit": true,
        "YNABFEATURES": true,
        "browser": true,
        "Components": true,
        "__ynabapp__": true
    },
    "rules": {
        "consistent-return": "off",
        "default-case": "off",
        "func-names": "off",
        "global-require": "off",
        "guard-for-in": "off",
        "max-len": "off",
        "no-console": "off",
        "no-extend-native": "off",
        "no-nested-ternary": "off",
        "no-param-reassign": "off",
        "no-restricted-syntax": "off",
        "no-shadow": ["error", { "allow": ["resolve", "reject", "error"] }],
        "no-underscore-dangle": "off",
        "no-use-before-define": "off",
        "radix": "off",
        "strict": "off",
        "vars-on-top": "off",
        "no-mixed-operators": "off",
        "no-plusplus": "off",
        "class-methods-use-this": "off",
        "object-curly-newline": "off"
    }
}
