.DS_Store
node_modules/
output/
dist/
certificates/
*.pyc
/.project
package-lock.json
save-commands.json
.python-version

# new framework ingores
sauce/extension/features/index.js
sauce/extension/settings.js