.collapsed-budget.collapsed-active {
	background-color: #194853;
	color: #ceec00;
}

.collapsed-account.collapsed-active {
	background-color: #194853;
	color: #32dcff;
}

.collapsed-buttons > .navlink-reports.active {
	background-color: #194853;
	color: #fed168;
}
