.button {
  border: 3px solid gray;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: var(--tk-text-color);
  font-size: 1rem;
  min-width: 6rem;

  &:hover {
    cursor: pointer;
  }

  &__primary {
    background-color: var(--tk-action-primary);
    border-color: var(--tk-action-primary);
    color: #f1f1f1;

    &:hover {
      border-color: var(--tk-action-secondary);
      background-color: var(--tk-action-secondary);
    }
  }

  &__hollow {
    background-color: transparent;
    color: var(--tk-text-color);

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.3);
      border-color: hsla(0, 0%, 100%, 0.3);
    }
  }
}
