.tk-uncleared-account-indicator {
  font-size: 0.8rem;
}

.nav-accounts .nav-account-icons-right svg {
  position: static !important;
}

.nav-accounts .nav-account-icons-right {
  display: flex;
  align-items: center;
}

.nav-account-row .nav-account-icons.nav-account-icons-right {
  width: 2rem;
}
