.tk-uncleared-account-indicator {
  font-size: 0.8rem;
}

.tk-nav-account-icons-right-space .nav-account-icons-right svg {
  position: static !important;
}

.tk-nav-account-icons-right-space .nav-account-icons-right {
  display: flex;
  align-items: center;
  width: 2rem;
}
