.resize-inspector {
  height: 100%;
  display: flex;
}

.budget-content {
  flex: 0 0 auto;
  position: static !important;
  height: 100%;
  bottom: 0;
  padding-top: 8em;
  background: #fff;
}

.budget-separator {
    background: #efeff4;
}

.budget-inspector {
  flex: 1 1 auto;
  position: static !important;
  width: auto !important;
  margin-top: 9.7em;
  overflow-x: hidden;
  padding: 1em 14px 1em 2px !important;
  border-left: 0;
}

.inspector-resize-handle {
  margin-top: 8em;
  min-width: 13px;
  background: #e5f5f9 no-repeat center center;
  border-left: 1px solid #e1e1e1;
  border-top: 1px solid #dfe4e9;
  cursor: col-resize;
  z-index: 999;
}

.inspector-resize-handle:hover {
  background-color: #d0ecf4;
}
