/* global reusable colors */
:root {
  --tk-color-black: #000000;
  --tk-color-gray: #cfd5d8;
  --tk-color-positive: #16a336;
  --tk-color-positive--hover: #138b2e;
  --tk-color-white: #ffffff;
}

.tk-navlink i {
  margin-right: 10px;
  padding-left: 20px;
}

.budget-toolbar {
  padding: 0px 10px;
  align-items: center;
}
