.ynabtk-navlink-collapse {
  cursor: pointer;
}

.tk-navlink-width {
  width: 4.6rem;
}

.layout.collapsed .content .scroll-wrap,
.layout.collapsed .content .register-flex-columns {
  width: inherit;
  min-width: 838px;
}

.collapsed-buttons .active button {
  background-color: #194853;
  color: #fff;
}

.collapsed-buttons .active .collapsed-budget {
  color: #ceec00;
}

.collapsed-buttons .active .collapsed-reports {
  color: #fed168;
}

.collapsed-buttons .active .collapsed-account {
  color: #32dcff;
}

.ynabtk-nav-link-collapsed {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.tk-collapse-toggle-text {
  margin: 0 !important;
}

.nav-main > li > a {
  display: -webkit-box;
  width: 100%;
}
