.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .inspector-overview-available
  .positive,
.budget-inspector:not([data-toolkit-goal-underfunded]) .inspector-overview-available .positive,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .budget-table-cell-available
  .positive,
.budget-inspector:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .positive {
  background-color: transparent;
  color: var(--tk-positive-currency-color);
  font-weight: bold;
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .inspector-overview-available
  .positive
  .icon-goal
  .inner,
.budget-inspector:not([data-toolkit-goal-underfunded])
  .inspector-overview-available
  .positive
  .icon-goal
  .inner,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .budget-table-cell-available
  .positive
  .icon-goal
  .inner,
.budget-inspector:not([data-toolkit-goal-underfunded])
  .budget-table-cell-available
  .positive
  .icon-goal
  .inner {
  fill: var(--tk-positive-currency-color);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .inspector-overview-available
  .positive
  .icon-goal
  .outer,
.budget-inspector:not([data-toolkit-goal-underfunded])
  .inspector-overview-available
  .positive
  .icon-goal
  .outer,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .budget-table-cell-available
  .positive
  .icon-goal
  .outer,
.budget-inspector:not([data-toolkit-goal-underfunded])
  .budget-table-cell-available
  .positive
  .icon-goal
  .outer {
  stroke: var(--tk-positive-currency-color);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .inspector-overview-available
  .zero,
.budget-inspector:not([data-toolkit-goal-underfunded]) .inspector-overview-available .zero,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .budget-table-cell-available
  .zero,
.budget-inspector:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .zero {
  background-color: transparent;
  color: var(--tk-zero-currency-color);
  font-weight: bold;
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .inspector-overview-available
  .zero
  .icon-goal
  .inner,
.budget-inspector:not([data-toolkit-goal-underfunded])
  .inspector-overview-available
  .zero
  .icon-goal
  .inner,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .budget-table-cell-available
  .zero
  .icon-goal
  .inner,
.budget-inspector:not([data-toolkit-goal-underfunded])
  .budget-table-cell-available
  .zero
  .icon-goal
  .inner {
  fill: var(--tk-zero-currency-color);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .inspector-overview-available
  .zero
  .icon-goal
  .outer,
.budget-inspector:not([data-toolkit-goal-underfunded])
  .inspector-overview-available
  .zero
  .icon-goal
  .outer,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded])
  .budget-table-cell-available
  .zero
  .icon-goal
  .outer,
.budget-inspector:not([data-toolkit-goal-underfunded])
  .budget-table-cell-available
  .zero
  .icon-goal
  .outer {
  stroke: var(--tk-zero-currency-color);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .positive,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .positive,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .zero,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .zero {
  color: var(--tk-color-white);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .positive
  .icon-goal
  .inner,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .positive
  .icon-goal
  .inner,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .zero
  .icon-goal
  .inner,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .zero
  .icon-goal
  .inner {
  fill: var(--tk-color-white);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .positive
  .icon-goal
  .outer,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .positive
  .icon-goal
  .outer,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .zero
  .icon-goal
  .outer,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked
  .budget-table-cell-available
  .zero
  .icon-goal
  .outer {
  stroke: var(--tk-color-white);
}

.budget-inspector[data-toolkit-pif-assist] .ynab-new-budget-available-number .currency,
.budget-table-row.is-sub-category.is-debt-payment-category[data-toolkit-pif-assist]
  .ynab-new-budget-available-number
  .currency {
  color: var(--tk-color-white);
}
