/* default positive color overrides */
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .inspector-overview-available .positive,
.budget-inspector:not([data-toolkit-goal-underfunded]) .inspector-overview-available .positive,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .positive,
.budget-inspector:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .positive {
  background-color: transparent;
  color: var(--tk-color-positive);
  font-weight: bold;
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .inspector-overview-available .positive .icon-goal .inner,
.budget-inspector:not([data-toolkit-goal-underfunded]) .inspector-overview-available .positive .icon-goal .inner,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .positive .icon-goal .inner,
.budget-inspector:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .positive .icon-goal .inner {
  fill: var(--tk-color-positive);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .inspector-overview-available .positive .icon-goal .outer,
.budget-inspector:not([data-toolkit-goal-underfunded]) .inspector-overview-available .positive .icon-goal .outer,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .positive .icon-goal .outer,
.budget-inspector:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .positive .icon-goal .outer {
  stroke: var(--tk-color-positive);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .inspector-overview-available .zero,
.budget-inspector:not([data-toolkit-goal-underfunded]) .inspector-overview-available .zero,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .zero,
.budget-inspector:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .zero {
  background-color: transparent;
  color: var(--tk-color-gray);
  font-weight: bold;
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .inspector-overview-available .zero .icon-goal .inner,
.budget-inspector:not([data-toolkit-goal-underfunded]) .inspector-overview-available .zero .icon-goal .inner,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .zero .icon-goal .inner,
.budget-inspector:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .zero .icon-goal .inner {
  fill: var(--tk-color-gray);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .inspector-overview-available .zero .icon-goal .outer,
.budget-inspector:not([data-toolkit-goal-underfunded]) .inspector-overview-available .zero .icon-goal .outer,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .zero .icon-goal .outer,
.budget-inspector:not([data-toolkit-goal-underfunded]) .budget-table-cell-available .zero .icon-goal .outer {
  stroke: var(--tk-color-gray);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .positive,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .positive,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .zero,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .zero {
  color: var(--tk-color-white);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .positive .icon-goal .inner,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .positive .icon-goal .inner,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .zero .icon-goal .inner,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .zero .icon-goal .inner {
  fill: var(--tk-color-white);
}

.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .positive .icon-goal .outer,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .positive .icon-goal .outer,
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .zero .icon-goal .outer,
.budget-inspector:not([data-toolkit-goal-underfunded]).is-checked .budget-table-cell-available .zero .icon-goal .outer {
  stroke: var(--tk-color-white);
}

.budget-inspector[data-toolkit-pif-assist] .ynab-new-budget-available-number .currency,
.budget-table-row.is-sub-category.is-debt-payment-category[data-toolkit-pif-assist] .ynab-new-budget-available-number .currency {
  color: var(--tk-color-white);
}

/* Above CSS generated from the following SASS
**
** using: https://www.cssportal.com/scss-to-css/
**
.budget-table-row.is-sub-category:not([data-toolkit-goal-underfunded]),
.budget-inspector:not([data-toolkit-goal-underfunded]) {
  .inspector-overview-available .positive,
  .budget-table-cell-available .positive {
    background-color: transparent;
    color: var(--tk-color-positive);
    font-weight: bold;

    .icon-goal .inner {
      fill: var(--tk-color-positive);
    }

    .icon-goal .outer {
      stroke: var(--tk-color-positive);
    }
  }

  .inspector-overview-available .zero,
  .budget-table-cell-available .zero {
    background-color: transparent;
    color: var(--tk-color-gray);
    font-weight: bold;

    .icon-goal .inner {
      fill: var(--tk-color-gray);
    }

    .icon-goal .outer {
      stroke: var(--tk-color-gray);
    }
  }

  &.is-checked {
    .budget-table-cell-available .positive,
    .budget-table-cell-available .zero {
      color: var(--tk-color-white);

      .icon-goal .inner {
        fill: var(--tk-color-white);
      }

      .icon-goal .outer {
        stroke: var(--tk-color-white);
      }
    }
  }
}

.budget-inspector[data-toolkit-pif-assist],
.budget-table-row.is-sub-category.is-debt-payment-category[data-toolkit-pif-assist] {
  .ynab-new-budget-available-number .currency {
    color: var(--tk-color-white);
  }
}
**
**
**/
