/* row */
.budget-table-row.is-sub-category.is-debt-payment-category[data-tk-pif-assist]
  .ynab-new-budget-available-number {
  background-color: var(--categoryBalanceWarningBackground) !important;
  color: var(--categoryBalanceWarningLabel) !important;
}
.budget-table-row.is-sub-category.is-debt-payment-category[data-tk-pif-assist]
  .ynab-new-budget-available-number:hover {
  background-color: var(--categoryBalanceWarningBackgroundActive) !important;
  color: var(--categoryBalanceWarningLabel) !important;
}

/* inspector */
.budget-inspector[data-tk-pif-assist] .ynab-new-budget-available-number {
  background: var(--categoryBalanceWarningBackground) !important;
  color: var(--categoryBalanceWarningLabel) !important;
}
.budget-inspector[data-tk-pif-assist] .ynab-new-budget-available-number .currency {
  background: var(--categoryBalanceWarningBackground) !important;
  color: var(--categoryBalanceWarningLabel) !important;
}

span.cc-budget-mismatch {
  border: 1px solid var(--calloutSectionWarningAccent);
  color: var(--calloutSectionWarningAccent);
  border-radius: 0.5em;
  margin-left: 0.25em;
  padding: 0 0.25em;
  height: 1.25em;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
