/* row */
.budget-table-row.is-sub-category.is-debt-payment-category[data-toolkit-pif-assist] .ynab-new-budget-available-number {
  background-color: #e59100 !important;
}
.budget-table-row.is-sub-category.is-debt-payment-category[data-toolkit-pif-assist] .ynab-new-budget-available-number:hover {
  background-color: #c37b00 !important;
}

/* inspector */
.budget-inspector[data-toolkit-pif-assist] .inspector-overview-available dt {
  color: #e59100 !important;
}
.budget-inspector[data-toolkit-pif-assist] .ynab-new-budget-available-number {
  background: #e59100 !important;
}
