.budget-content ul, .budget-table-row.is-dragging {
  height: 1.6em;
}

.budget-table-row.is-master-category {
  margin-top: 0px;
}

.budget-table-row.is-master-category .budget-table-cell-name .budget-table-cell-name-row-label-item {
  padding-top: 0.1em !important;
}

.budget-table-row.is-master-category .budget-table-cell-add-category .flaticon {
  top: 0.2em;
}

.budget-table-row.is-sub-category {
  height: 1.6em !important;
  font-size: 0.78em;
}

.budget-table-row.is-master-category .budget-table-cell-name {
  padding-top: 0;
  font-size: 1.05em;
}

.budget-table-row.is-sub-category > .budget-table-cell-available .positive, .budget-table-row.is-sub-category > .budget-table-cell-available .negative, .budget-table-row.is-sub-category > .budget-table-cell-available .cautious, .budget-table-row.is-sub-category > .budget-table-cell-available .zero {
  top: 0 !important;
  padding: 0em 0.4em;
  font-size: 1em !important;
}

.budget-table-row.is-sub-category .budget-table-cell-activity {
  top: 0 !important;
}

.budget-table-cell-budgeted .currency-input span {
  height: 1.45em;
  padding: 0.05em;
  border-width: 1px !important;
}

.budget-table-cell-budgeted .currency-input input {
  height: 1.45em !important;
}

.toolkit-goalindicator {
  line-height: 1.8em !important;
}
