.budget-toolbar > .undo-redo-container::after {
  content: '\e592';
  font-family: 'Flaticons Stroke';
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #009cc2;
  padding: .4em .5em;
  position: absolute;
  cursor: pointer;
}
