.ynab-toolkit-reports {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ynab-toolkit-reports-nav {
  background-color: #003540;
  padding-left: 20px;
  font-family: 'Lato',Arial,'Helvetica Neue',Helvetica,sans-serif;
}

.ynab-toolkit-reports-nav h2 {
  float: left;
}

.ynab-toolkit-reports-nav h2 span {
  color: #fed168;
}

.ynab-toolkit-reports-nav .nav-reports {
  display: inline-flex;
  list-style: none;
  height: 100%;
  padding: 1.5em;
  margin: 0px;
}

.ynab-toolkit-reports-nav .nav-reports-navlink {
  margin-right: 10px;
}

.ynab-toolkit-reports-nav .nav-reports-navlink a {
  text-decoration: none;
  color: white;
}

.ynab-toolkit-reports-filters {
  height: 140px;
  background-color: #F4F4F4;
  margin: 10px 10px 0 10px;
  border: 1px solid #CCCCCC;
  padding-left: 20px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.ynab-toolkit-reports-filters .ynab-toolkit-filter-group {
  margin: 10px 0;
}

.ynab-toolkit-account-select {
  width: 20%;
}

.ynab-toolkit-account-chips {
  display: inline-flex;
  max-width: 70%;
}

.ynab-toolkit-account-chips .account-chip {
  border-radius: 1em;
  background-color: #34aebe;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  max-width: 120px;
  margin-right: 4px;
  padding: .2em .4em;
}

.ynab-toolkit-filter-group.date-filter {
  display: flex;
}

.ynab-toolkit-date-filter-slider {
  flex-grow: 1;
  margin: 0px 40px 0px 30px;
}

.ynab-toolkit-reports-headers {

}

.ynab-toolkit-reports-data {
  flex-grow: 1;
}

/* noUiSlider classes */
.noUi-connect {
  background: #34aebe;
}

.noUi-tooltip {
  left: -25%;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  top: -52px;
}
.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  bottom: -52px;
}