.budget-table-header-labels li {
  cursor: pointer;
  user-select: none;
}

.budget-table-header-labels li.budget-table-cell-checkbox,
.budget-table-header-labels li.budget-table-cell-collapse,
.budget-table-header-labels li.budget-table-cell-margin,
.budget-table-header-labels li.budget-table-cell-name {
  cursor: auto;
}
