.to-be-budgeted {
  height: 100%;
}

.to-be-budgeted.ynab-breakdown {
  display: block;
  width: 260px;
}

.to-be-budgeted.ynab-breakdown > hr {
  margin: 0.25rem 0 0.25rem 0;
}

.toolkit-income-from-last-month > .ynab-breakdown {
  margin: 0;
}

.toolkit-income-from-last-month > .ynab-breakdown > div {
  margin: 0;
}
