.tk-goal-indicator {
  color: gray;
  padding-left: 0.5em;
}

.tk-goal-indicator:last-child {
  padding-right: 0.5em;
}

.is-master-category .tk-budget-table-cell-goal .tk-goal-sum-amount {
  margin-right: 1.5em;
}
