.tk-categories-filter-input {
  float: right;
  border-radius: 0.35rem;
  border: 1px solid var(--actionPrimary);
  color: var(--labelPrimary);
  outline: none;
  padding: 0.3rem 1.2rem 0.3rem 1.6rem;
  z-index: 10;
  font-size: 0.875rem;
}

.tk-categories-filter-input:focus {
  border-width: 1px !important;
}

.tk-categories-filter-wrapper {
  position: relative;
}

.tk-categories-filter-icon {
  color: var(--actionPrimary);
  left: 0.5rem;
  position: absolute;
  top: 0.55rem;
  z-index: 11;
  font-size: 0.8rem;
}

.tk-categories-filter-cancel-icon {
  /* Reset inherited styles from YNAB stylesheets */
  padding: 0 !important;
  display: block !important;

  color: var(--actionPrimary);
  cursor: pointer;
  position: absolute;
  right: 0.25rem;
  top: 0.05rem;
  z-index: 11;
}

.tk-categories-filter-hidden {
  display: none !important;
}
