body,
body.theme-new-default {
  --tk-current-month-background-color: var(--sidebarButtonBackgroundSelected);
  --tk-current-month-control-color: #bee6ef;
  --tk-current-month-header-color: #ffffff;
  --tk-current-month-note-color: rgba(255, 255, 255, 0.6);
}

body.theme-classic {
  --tk-current-month-control-color: var(--actionPrimary);
  --tk-current-month-header-color: #ffffff;
  --tk-current-month-note-color: rgba(255, 255, 255, 0.6);
}

body.theme-dark {
  --tk-current-month-control-color: #ffffff;
  --tk-current-month-header-color: #ffffff;
  --tk-current-month-note-color: rgba(255, 255, 255, 0.6);
}

/* add transitions */
.budget-header .budget-header-item {
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.budget-header .budget-header-item .budget-header-calendar-prev,
.budget-header .budget-header-item .budget-header-calendar-next,
.budget-header .budget-header-item .budget-header-calendar-note {
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

/* current month styles */
.tk-highlight-current-month {
  background: var(--tk-current-month-background-color) !important;
  background-clip: content-box !important;
  border-radius: 1rem !important;
}

.budget-header .tk-highlight-current-month .budget-header-calendar-prev,
.budget-header .tk-highlight-current-month .budget-header-calendar-next {
  color: var(--tk-current-month-control-color);
}

.budget-header .tk-highlight-current-month .budget-header-calendar-date-button {
  color: var(--tk-current-month-header-color);
}

.budget-header .tk-highlight-current-month .budget-header-calendar-note {
  color: var(--tk-current-month-note-color);
}

/* Set equal height */
.to-be-budgeted {
  height: 100%;
}
