.accounts-header-balances-selected {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    overflow: hidden;
    margin-top: .75em;
    text-align: center;
    color: #5bbe72;
    margin-left: 5em;
}

.accounts-header .accounts-header-balances-selected .currency.negative {
    color: #e0766c;
}
