body {
  min-width: 900px;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.inverted {
  -webkit-filter: invert(1) hue-rotate(180deg) brightness(1.2);
  filter: invert(1) hue-rotate(180deg) brightness(1.2);
  color: gray;
}

.inverted h2 {
  color: gray;
}

.inverted .help-block {
  color: gray;
}

.inverted .nav li a {
  color: gray;
}

.inverted .bootstrap-switch-handle-off {
  color: gray !important;
}

/* Start the whole page hidden, then we'll show it with JS once
   everything has loaded. The page is async, and we don't want to show
   it until it's ready. */
#wrapper {
  display: none;
}

.navbar-header {
  width: 100%;
}

.navbar-header > .right-side {
  position: relative;
  min-height: 7em;
}

.navbar-header > .right-side > .content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.toolkit-disabled-indicator {
  color: red;
  font-weight: bolder;
}

.top-navbar {
  height: 120px;
}

.navbar-default {
  background-color: white;
}

#logo {
  display: block;
  margin: 10px auto 0;
  height: 91px;
}

#logo.btn {
  background-color: white;
}

label {
  font-size: 1.3em;
}

#main-menu li {
  font-size: 1.2em;
}

div.options {
  text-align: center;
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 260px;
  font-size: 1.2em;
  padding-top: 15px;
  border-top: 1px solid #f4f4f4;
}

div.options span {
  align-self: center;
}

div.options .darkMode {
  display: flex;
  margin-left: 1em;
}

#options-save {
  display: none;
  margin-bottom: 1em;
}

#options-save button.btn {
  margin-top: 0;
}

/* Make all icons green to match the logo */
i {
  color: #3cb54a;
}

.option-row {
  margin-top: 25px;
}

.option-description {
  display: inline-block;
  width: 70%;
}

.option-row > .colorpicker-element,
.option-row > label,
.option-row > select,
.option-row > span {
  margin-left: 143px;
}

.option-row > .colorpicker-element,
.option-row > .form-control {
  width: 70%;
}

.bootstrap-switch {
  vertical-align: top;
  margin: 0 15px;
}

/* All switches should be green when they're on too */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: #3cb54a;
}

.btn {
  margin: 18px 10px 0 0;
  background: #d6d6d6;
}

.btn:hover {
  background: #ccc;
}

.btn:focus {
  outline: 0 !important;
}

.btn-primary,
.btn-primary:focus {
  background: #3cb54a;
  color: #ffffff;
}

.btn-primary:hover {
  background: #66cc72;
}

.page-header {
  margin: 10px 0;
}

.page-header.sticky-header {
  position: fixed;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 77%;
  z-index: 5;
  padding-top: 1em;
  background: #f4f4f4;
  transition: padding-top 0.15s linear;
}

#settingsSaved.sticky-header {
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.25s linear;
}

.page-header > .title {
  margin-bottom: 1em;
}

.page-header > .actions > .btn {
  margin-top: 0;
}

.page-header-buttons {
  position: relative;
  top: -6em;
  margin-bottom: -6em;
}

.active-menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.help-block {
  color: #292929;
  /* adjustments for markdown adding <p> */
  font-size: 16px;
}

.help-block p:first-child {
  padding-top: 0;
}

#settingsSaved {
  position: fixed;
  text-align: center;
  z-index: 99;
  top: 0px;
  left: 0px;
  width: 100%;
}

#importExportModal textarea {
  height: 200px;
  width: 100%;
}

.toolkit-version {
  color: #3cb54a;
}

.toolkit-version.disabled {
  color: #a94442;
}

#supportSettingsPage span.toolkit-version {
  float: right;
}

.modal .modal-body,
.modal .modal-footer {
  text-align: center;
}

span.warning {
  font-weight: bold;
  text-decoration: underline;
}

.reset-settings > .btn {
  margin-top: 0;
}

#advancedSettingsPage .advanced-row {
  margin-top: 25px;
}

.btn-danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}
