/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background-color: #fff;
    padding: 10px;
    // Positioning context for the mobile navigation icon
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navLogo {
  float: left;
  height: 100%;
  img {
    max-height: 100px;
  }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: #fff;

    &,
    &:visited {
        color: $grey-color-light;
    }
}

.site-nav {
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-dark;
        font-size: $small-font-size;
        line-height: 100px;
        text-transform: uppercase;
        float: right;
        // Gaps between nav items, but not on the first one
        &:not(:last-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        // border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
