
/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    .content {
      flex: 2;
      min-height: 70vh;
      margin: 15%;
      display: flex;
      flex-direction: row;
      @include media-query($on-palm) {
        flex-direction: column;
        margin: 0;
      }
      @include media-query($on-laptop) {
        flex-direction: column;
      }
      .firstContent {
        flex: 1;
        @include media-query($on-palm) {
          margin-top: 100px;
        }
        h1 {
          font-size: 3em;
          padding: 10% 10% 10%;
        }
        p {
          padding: 0 10%;
        }
        a {
          padding: 0 10%;
        }
      }
      .imageBox {
        flex: 1;
        background-image: url("/images/techImg.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include media-query($on-palm) {
          height: 200px;
          margin-top: 50px;
        }
        @include media-query($on-laptop) {
          height: 500px;
          margin-top: 50px;
        }
      }
    }
    .imageOne {
      background-image: url("/images/mainBG.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      .secondContent {
        width: 40%;
        float: right;
        @include media-query($on-palm) {
          width: 100%;
        }
        h1 {
          font-size: 3em;
          margin-top: 30px;
          text-transform: uppercase;
        }
        ul {
          line-height: 3em;
          list-style: none;
          li::before {
            content: "> ";
            color: #44DBBD;
            padding-right: 10px;
            margin-left: -25px;
          }
        }
      }
    }
    .thirdContent {
      flex: 1;
      display: flex;
      flex-direction: column;
      .rowOne, .rowTwo {
        display: flex;
        flex-direction: row;
        flex: 2;
        text-align: center;
        @include media-query($on-palm) {
          flex-direction: column;
        }
        div {
          flex: 1;
          text-transform: uppercase;
        }
      }
      .buttonBox {
        margin-top: 20px;
        flex: 1;
        text-align: center;
        .features {
          margin: 0 auto;
          height: 30px;
          background-color: #36b64b;
          color: #fff;
          border-style: none;
          text-transform: uppercase;
        }
      }
    }
    .imageTwo {
      display: flex;
      background-color: #353535;
      background-image: url("/images/mainBG2.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: #fff;
      padding-top: 20vh;
      padding-bottom: 20vh;
      @include media-query($on-palm) {
        padding-top: 0;
        padding-bottom: 0;
        background-size: cover;
        background-position: left;
      }
      @include media-query($on-laptop) {
        flex-direction: column;
        background-size: cover;
      }
      div {
        flex: 2;
      }
      .fourthContent {
        flex: 3;
        @include media-query($on-laptop) {
          margin-left: 20%;
        }
        h1 {
          text-transform: uppercase;
          font-size: 3em;
        }
        p {
        }
      }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
