
/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
    width: 100vw;
    .content {
      background-color: #fff;
      width: 70%;
      height: 100vh;
      margin: 15%;
      display: flex;
      flex-direction: row;
      .firstContent {
        flex: 1;
        h1 {
          font-size: 3em;
          padding: 10% 10% 10%;
        }
        p {
          padding: 0 10%;
        }
        a {
          padding: 0 10%;
        }
      }
      .imageBox {
        flex: 1;
        background-image: url("/images/techImg.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50%;
      }
    }
    .imageOne {
      background-image: url("/images/mainBG.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 40vh;
      .secondContent {
        width: 40%;
        float: right;
        h1 {
          font-size: 3em;
          margin-top: 30px;
          text-transform: uppercase;
        }
        ul {
          line-height: 3em;
          list-style: none;
          li::before {
            content: "> ";
            color: #44DBBD;
            padding-right: 10px;
            margin-left: -25px;
          }
        }
      }
    }
    .thirdContent {
      width: 70%;
      margin-left: 15%;
      display: flex;
      flex-direction: column;
      .rowOne {
        display: flex;
        flex: 1;
        flex-direction: row;
        div {
          flex: 1;
          background-image: url("/images/pie.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .rowTwo {
        display: flex;
        flex: 1;
        flex-direction: row;
        div {
          flex: 1;
          background-image: url("/images/pie.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
    .imageTwo {
      background-color: #353535;
      background-image: url("/images/mainBG2.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin-bottom: 15vh;
      height: 40vh;
      color: #fff;
      padding-top: 20vh;
      .fourthContent {
        height: 50%;
        width: 30%;
        margin-left: 35%;
        h1 {
          text-transform: uppercase;
          font-size: 3em;
        }
        p {
        }
      }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
