.tk-net-worth-legend {
  &__icon-assets {
    width: 16px;
    height: 16px;
    background-color: #8ed0df;
  }

  &__icon-debts {
    width: 16px;
    height: 16px;
    background-color: #ea6a51;
  }

  &__icon-net-worths {
    width: 16px;
    height: 4px;
    background-color: #6693b0;
  }

  &__text-faded {
    opacity: 70%;
  }
}
