/* layout */
#toolkit-toggleReconciled {
	margin-right: 20px;
}
#toolkit-toggleReconciled.button-icononly {
	margin-right: 1px;
}
#toolkit-toggleScheduled .flaticon {
    margin-right: 1px;
}

/* label */
.accounts-toolbar-right .toolkit-label {
	display: block;
	height: 2.2em;
	padding: .55em .6em;
	float: right;
	
	font-size: 1em;
	line-height: normal;
	font-weight: normal;
	font-style: italic;
	color: #003540;
}

/* visible: mid blue */
.accounts-toolbar .toolkit-button-toggle-visible,
.accounts-toolbar .toolkit-button-toggle-visible:hover {
	font-weight: bold;
	color: #009cc2 !important;
}
.accounts-toolbar .toolkit-button-toggle-visible .flaticon,
.accounts-toolbar .toolkit-button-toggle-visible:hover .flaticon {
	color: #009cc2 !important;
}

/* hidden: gray */
.accounts-toolbar .toolkit-button-toggle-hidden {
	font-weight: bold;
	color: #c3cbce;
}
.toolkit-button-toggle-hidden .flaticon {
	color: #c3cbce;
}
.accounts-toolbar .toolkit-button-toggle-hidden:hover,
.accounts-toolbar .toolkit-button-toggle-hidden:hover .flaticon {
	color: #c3cbce !important;
}