/* ======== General colours / shapes ======== */
.inspector dt {
	color: black !important;
}

/* ======== Cautious colours / shapes ======== */
.budget-table-row.is-sub-category > .budget-table-cell-available .cautious {
    background-color: #19a3c5 !important;
}

.inspector-overview-available .currency.cautious {
    background-color: #19a3c5 !important;;
}

.budget-table-row.is-sub-category > .budget-table-cell-available .cautious:hover {
    background-color: #14839e !important;
}

/* ======== Goal-related colours / shapes ======== */
.toolkit-row-goal.toolkit-row-availablepositive .budget-table-cell-available .cautious, 
.toolkit-row-goal.toolkit-row-availablezero .budget-table-cell-available .cautious {
	background: #1282a0 !important;
}
.toolkit-row-goal.toolkit-row-availablepositive .budget-table-cell-available .cautious:hover, 
.toolkit-row-goal.toolkit-row-availablezero .budget-table-cell-available .cautious:hover {
	background: #0e6c85 !important;
}

.toolkit-row-goal.toolkit-row-availablepositive dd .cautious, 
.toolkit-row-goal.toolkit-row-availablezero dd .cautious {
	background: #1282a0 !important;
}
.toolkit-row-goal.toolkit-row-availablepositive dd .cautious:hover, 
.toolkit-row-goal.toolkit-row-availablezero dd .cautious:hover {
	background: #0e6c85 !important;
}

/* ======== Negative colours / shapes ======== */
ul.is-sub-category > li.budget-table-cell-available > div.budget-table-cell-available-div > span.negative {
    border-radius: 0em !important;
    -webkit-border-radius: 0em !important;
    background-color: #d55e00 !important;
}

.inspector-overview-available .currency.negative {
    border-radius: 0em !important;
    -webkit-border-radius: 0em !important;
    background-color: #d55e00 !important;
}

.left-to-budget-is-negative .budget-header-totals-amount {
    border-radius: 0em;
    -webkit-border-radius: 0em;
    background-color: #d55e00 !important;
}

.left-to-budget-is-negative .budget-header-totals-amount-arrow .arrow {
    border-left-color: #d55e00 !important;
}

/* ======== Positive colours / shapes ======== */
ul.is-sub-category > li.budget-table-cell-available > div.budget-table-cell-available > span.positive {
    background-color: #009e73 !important;
    color: #fff !important;
    font-weight: normal !important;
}

.inspector-overview-available .currency.positive {
    background-color: #009e73 !important;;
    color: #fff !important;
    font-weight: normal !important;
}
