.modal-budget-activity .modal {
	width: 48em !important;
}

/* There are 5 columns all 20% width by default */
/* Date column */
.modal-budget-activity ul.budget-activity li:nth-child(2) {
	width: 15%;
}
/* Memo column */
.modal-budget-activity ul.budget-activity li:nth-child(4) {
	width: 30%;
}
/* Amount column */
.modal-budget-activity ul.budget-activity li:nth-child(5) {
	width: 15%;
}
