.tk-budget-table-cell-pacing {
  display: flex;
  width: 13% !important;
  justify-content: flex-end !important;
  padding: 5px 0;
  text-align: right !important;
  border-top: 1px solid var(--separatorStandard);
  height: 2.25rem;
}

.budget-table-container
  .budget-table-row-ul.budget-table-row:first-child
  .tk-budget-table-cell-pacing {
  border-top: none;
}

.tk-budget-table-cell-pacing button.deemphasized,
.tk-budget-table-cell-pacing button.deemphasized:hover,
.tk-budget-table-cell-pacing button.deemphasized span,
.tk-budget-table-cell-pacing button.deemphasized:hover span {
  color: #cfd5d7 !important;
  background-color: transparent !important;
}

.tk-budget-table-cell-pacing .indicator {
  border-radius: 0.5em;
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.tk-budget-table-cell-pacing button.deemphasized.indicator,
.tk-budget-table-cell-pacing button.deemphasized.indicator:hover {
  background-color: #cfd5d7 !important;
}

.budget-table-header .tk-budget-table-cell-pacing {
  height: 2.5rem;
  border-top: 0;
  border-bottom: 1px solid var(--separatorStandard);
  font-size: 0.6875rem;
  color: var(--labelSecondary);
  flex-direction: column;
  justify-content: center !important;
  font-weight: 700;
}

.is-master-category .tk-budget-table-cell-pacing {
  height: 2.5rem;
}
