.budget-table-header .toolkit-cell-pacing {
  font-size: 0.75em;
}
.toolkit-cell-pacing {
  width: 10%;
  padding: 2px 0px !important;
  margin-left: 10px;
}
.is-master-category .toolkit-cell-pacing {
  display: none;
}
.budget-table-uncategorized-transactions .toolkit-cell-pacing {
  display: none;
}

.toolkit-cell-pacing-display {
  border-radius: 1em;
  padding: 0.125em 0.5em 0.175em 0.5em !important;
  color: #fff;
  font-weight: normal !important;
  cursor: pointer;
}

.toolkit-cell-pacing-display.positive {
  background-color: #16a336;
  background-color: var(--budget_balance_positive_background);
  color: var(--budget_balance_positive_text);
}
.toolkit-cell-pacing-display.positive:hover {
  background-color: #138b2e;
  background-color: var(--budget_balance_positive_background_active);
}
.toolkit-cell-pacing-display.cautious {
  background-color: #e59100;
  background-color: var(--budget_balance_warning_background);
  color: var(--budget_balance_warning_text);
}
.toolkit-cell-pacing-display.cautious:hover {
  background-color: #c37b00;
  background-color: var(--budget_balance_warning_background_active);
}

.toolkit-cell-pacing-display.deemphasized,
.toolkit-cell-pacing-display.deemphasized:hover {
  color: #cfd5d7 !important;
  background-color: transparent !important;
}

.toolkit-cell-pacing-display.indicator {
  border-radius: 0.5em;
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.toolkit-cell-pacing-display.deemphasized.indicator {
  background-color: #cfd5d7 !important;
}
