.tk-budget-table-cell-pacing {
  width: 8.125rem;
  justify-content: flex-end !important;
  padding: 0 0 0 1rem !important;
  text-align: right !important;
}

.tk-budget-table-cell-pacing .deemphasized,
.tk-budget-table-cell-pacing .deemphasized:hover {
  color: #cfd5d7 !important;
  background-color: transparent !important;
}

.tk-budget-table-cell-pacing .indicator {
  border-radius: 0.5em;
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.tk-budget-table-cell-pacing .indicator.deemphasized {
  background-color: #cfd5d7 !important;
}
