body,
body.theme-new-default,
body.theme-classic {
  --tk-striped-transaction-row-color: #fafafa;
}

body.theme-dark {
  --tk-striped-transaction-row-color: #1e1e1f;
}

.tk-striped-transaction-row:not(.is-checked):not(.is-editing):not(.ynab-grid-body-empty):not(.ynab-grid-actions) {
  background-color: var(--tk-striped-transaction-row-color) !important;
}
