.modal-account-edit-transaction-list .modal-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.modal-account-edit-transaction-list .modal-list > li {
  position: static !important;
}

.modal-account-edit-transaction-list .scrollable-edit-wrapper {
  left: 92% !important;
  position: absolute !important;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.modal-account-edit-transaction-list .scrollable-edit-wrapper > ul {
  position: static !important;
  display: block !important;
}
