.modal-account-edit-transaction-list .modal-list > li,
.modal-account-edit-transaction-list .scrollable-edit-wrapper > ul > li {
  position: static !important;
}

.modal-account-edit-transaction-list .scrollable-edit-wrapper {
  left: 94% !important;
  position: absolute !important;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.modal-account-edit-transaction-list .scrollable-edit-wrapper > ul {
  position: static !important;
  display: block !important;
  margin: 0;
  max-height: 100%;
  overflow-y: auto;
}
