.tk-grid-actions {
  display: flex;
  justify-content: flex-end;
}

.tk-bulk-edit-memo .tk-grid-actions button.tk-memo-cancel {
  border: 2px solid var(--actionSecondary);
  padding: 0.4em 0.6em;
  margin-right: 5px;
}

.tk-memo-edit-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 8px;
}

.modal-popup .tk-memo-input {
  margin-bottom: 0px;
}
