.toolkit-modal-item-hide-image {
    visibility: hidden;
}

.modal-adjust-row-height {
    background-color: transparent;
}

.modal-adjust-row-height .modal {
    padding:.3em 0;
    width:10.5em;
    font-size:.9em;
}
