body,
body.theme-new-default {
  --tk-ive-report-header-background-color: #3674a7;
  --tk-ive-report-border-color: #d1d1d1;
  --tk-ive-report-negative-color: #ffecea;
  --tk-ive-report-positive-color: #edf5e6;
}

body.theme-classic {
  --tk-ive-report-header-background-color: var(--headerBackground);
  --tk-ive-report-border-color: #d1d1d1;
  --tk-ive-report-negative-color: #ffecea;
  --tk-ive-report-positive-color: #edf5e6;
}

body.theme-dark {
  --tk-ive-report-header-background-color: var(--headerBackground);
  --tk-ive-report-border-color: #545458;
  --tk-ive-report-negative-color: #631f32;
  --tk-ive-report-positive-color: #265a2c;
}

.tk-ive {
  flex: 1;
  font-size: 0.85rem;

  &__net-income {
    background: var(--backgroundPrimary);
    border-top: 3px solid var(--tk-ive-report-border-color);
    border-bottom: 3px solid var(--tk-ive-report-border-color);
    width: fit-content;
    width: -moz-fit-content;

    .tk-monthly-totals-row {
      &__title-cell {
        padding-left: 0.5rem;
      }

      &__data-cell {
        font-weight: bold;

        &--positive {
          color: #16a336;
        }

        &--negative {
          color: #d33c2d;
        }
      }
    }
  }
}
