.ynab-grid-cell-outflow .currency::before {
	content: "(";
}

.ynab-grid-cell-outflow .currency::after {
	content: ")";
}

.ynab-grid-cell-outflow .currency {
	color: #c00;
}

.ynab-grid-body-row.is-checked .ynab-grid-cell-outflow .currency {
	color: #ff4b2b;
	font-weight: bold;
}
