body {
  /* Default values */
  --tk-custom-colours-negative: #d55e00;
  --tk-custom-colours-positive: #009e73;
  --tk-custom-colours-warning: #797dec;
}

body.tk-custom-colours-enabled {
  /* Inspector messages - recently replaced with general messages but still in YNAB stylesheet */
  --inspector_message_negative_background: var(--message_negative_background) !important;
  --inspector_message_negative_border: var(--message_negative_accent) !important;
  --inspector_message_negative_label: var(--message_negative_label) !important;

  --inspector_message_positive_background: var(--message_positive_background) !important;
  --inspector_message_positive_border: var(--message_positive_accent) !important;
  --inspector_message_positive_label: var(--message_positive_label) !important;

  --inspector_message_warning_background: var(--message_warning_background) !important;
  --inspector_message_warning_border: var(--message_warning_accent) !important;
  --inspector_message_warning_label: var(--message_warning_label) !important;
}

/* Default theme */
body.tk-custom-colours-enabled {
  /*
    Each accent colour is defined by scaling the base colour in the LCH colour space
    The accent variables are named --tk-custom-colours-{base}-l{% lightness}c{% chroma}
    If a new accent variable is referenced it needs to be added to the
    TK_CUSTOMIZE_COLOUR_ACCENTS at the top of index.js to be defined and updated
  */

  /* Negative */
  --budget_balance_negative_background: var(--tk-custom-colours-negative-l150c060) !important; 
  --budget_balance_negative_background_active: var(--tk-custom-colours-negative-l140c075) !important; 
  --budget_balance_negative_icon: var(--tk-custom-colours-negative-l030c045) !important;
  --budget_balance_negative_text: var(--tk-custom-colours-negative-l030c045) !important;
  --budget_bar_overspending: var(--tk-custom-colours-negative) !important;
  --budget_bar_overspending_stripe: var(--tk-custom-colours-negative-l150c060) !important;
  --header_label_negative: var(--tk-custom-colours-negative) !important;
  --header_tbb_negative_background: var(--tk-custom-colours-negative) !important;
  --label_negative: var(--tk-custom-colours-negative) !important;
  --label_negative_active: var(--tk-custom-colours-negative-l045c055) !important;
  --label_negative_disabled: var(--tk-custom-colours-negative-l150c060) !important;
  --message_negative_accent: var(--tk-custom-colours-negative) !important;
  --message_negative_background: var(--tk-custom-colours-negative-l160c015) !important;
  --message_negative_label: var(--tk-custom-colours-negative-l030c045) !important;
  --status_negative: var(--tk-custom-colours-negative) !important;

  /* Positive */
  --budget_balance_positive_background: var(--tk-custom-colours-positive-l150c060) !important;
  --budget_balance_positive_background_active: var(--tk-custom-colours-positive-l140c075) !important;
  --budget_balance_positive_icon: var(--tk-custom-colours-positive-l030c045) !important;
  --budget_balance_positive_text: var(--tk-custom-colours-positive-l030c045) !important;
  --budget_bar_funded: var(--tk-custom-colours-positive) !important;
  --budget_bar_funded_spending: var(--tk-custom-colours-positive-l140c075) !important;
  --budget_bar_funded_spending_stripe: var(--tk-custom-colours-positive-l160c015) !important;
  --header_label_positive: var(--tk-custom-colours-positive) !important;
  --header_tbb_positive_background: var(--tk-custom-colours-positive) !important; 
  --label_positive: var(--tk-custom-colours-positive) !important;
  --label_positive_active: var(--tk-custom-colours-positive-l045c055) !important;
  --message_positive_accent: var(--tk-custom-colours-positive) !important;
  --message_positive_background: var(--tk-custom-colours-positive-l160c015) !important;
  --message_positive_label: var(--tk-custom-colours-positive-l030c045) !important;
  --status_positive: var(--tk-custom-colours-positive) !important;

  /* Warning */
  --budget_balance_warning_background: var(--tk-custom-colours-warning-l150c060) !important;
  --budget_balance_warning_background_active: var(--tk-custom-colours-warning-l140c075) !important;
  --budget_balance_warning_icon: var(--tk-custom-colours-warning-l030c045) !important;
  --budget_balance_warning_text: var(--tk-custom-colours-warning-l030c045) !important;
  --budget_bar_underfunded: var(--tk-custom-colours-warning) !important;
  --budget_bar_underfunded_spending: var(--tk-custom-colours-warning-l150c060) !important;
  --budget_bar_underfunded_spending_stripe: var(--tk-custom-colours-warning-l160c015);
  --label_warning: var(--tk-custom-colours-warning-l045c055) !important;
  --message_warning_accent: var(--tk-custom-colours-warning) !important;
  --message_warning_background: var(--tk-custom-colours-warning-l160c015);
  --message_warning_label: var(--tk-custom-colours-warning-l030c045) !important;
  --status_cautious: var(--tk-custom-colours-warning) !important;
}

/* Dark theme */
body.tk-custom-colours-enabled.theme-dark {
  /* Negative */
  --budget_balance_negative_background: var(--tk-custom-colours-negative) !important;
  --budget_balance_negative_background_active: var(--tk-custom-colours-negative-l110c100) !important;
  --budget_balance_negative_icon: #232325 !important;
  --budget_balance_negative_text: #232325 !important;
  --budget_bar_overspending: var(--tk-custom-colours-negative-l055c090) !important;
  --budget_bar_overspending_stripe: var(--tk-custom-colours-negative-l025c020) !important;
  --header_label_negative: var(--tk-custom-colours-negative) !important;
  --header_tbb_negative_background: var(--tk-custom-colours-negative) !important;
  --label_negative: var(--tk-custom-colours-negative) !important;
  --label_negative_active: var(--tk-custom-colours-negative-l110c100) !important;
  --label_negative_disabled: var(--tk-custom-colours-negative-l120c050) !important;
  --message_negative_accent: var(--tk-custom-colours-negative) !important;
  --message_negative_background: var(--tk-custom-colours-negative-l025c020) !important;
  --message_negative_label: var(--tk-custom-colours-negative) !important;
  --status_negative: var(--tk-custom-colours-negative-l055c090);

  /* Positive */
  --budget_balance_positive_background: var(--tk-custom-colours-positive) !important;
  --budget_balance_positive_background_active: var(--tk-custom-colours-positive-l110c100) !important;
  --budget_balance_positive_icon: #232325 !important;
  --budget_balance_positive_text: #232325 !important;
  --budget_bar_funded: var(--tk-custom-colours-positive) !important;
  --budget_bar_funded_spending: var(--tk-custom-colours-positive-l045c055) !important;
  --budget_bar_funded_spending_stripe: var(--tk-custom-colours-positive-l025c020) !important;
  --header_label_positive: var(--tk-custom-colours-positive) !important;
  --header_tbb_positive_background: var(--tk-custom-colours-positive) !important;
  --label_positive: var(--tk-custom-colours-positive) !important;
  --label_positive_active: var(--tk-custom-colours-positive-l110c100) !important;
  --message_positive_accent: var(--tk-custom-colours-positive) !important;
  --message_positive_background: var(--tk-custom-colours-positive-l025c020) !important;
  --message_positive_label: var(--tk-custom-colours-positive-l110c100) !important;
  --status_positive: var(--tk-custom-colours-positive) !important;

  /* Warning */
  --budget_balance_warning_background: var(--tk-custom-colours-warning) !important;
  --budget_balance_warning_background_active: var(--tk-custom-colours-warning-l110c100) !important;
  --budget_balance_warning_icon: #232325 !important;
  --budget_balance_warning_text: #232325 !important;
  --budget_bar_underfunded_spending: var(--tk-custom-colours-warning-l045c055) !important;
  --budget_bar_underfunded_spending_stripe: var(--tk-custom-colours-warning-l025c020) !important;
  --budget_bar_underfunded: var(--tk-custom-colours-warning) !important;
  --label_warning: var(--tk-custom-colours-warning-l110c100) !important;
  --message_warning_accent: var(--tk-custom-colours-warning) !important;
  --message_warning_background: var(--tk-custom-colours-warning-l025c020) !important;
  --message_warning_label: var(--tk-custom-colours-warning-l110c100) !important;
  --status_cautious: var(--tk-custom-colours-warning) !important;
}

/* Classic theme */
body.tk-custom-colours-enabled.theme-classic {
  /* Negative */
  --budget_balance_negative_background: var(--tk-custom-colours-negative) !important;
  --budget_balance_negative_background_active: var(--tk-custom-colours-negative-l090c090) !important;
  --budget_balance_negative_icon: #fff !important;
  --budget_balance_negative_text: #fff !important;
  --budget_bar_overspending: var(--tk-custom-colours-negative) !important;
  --budget_bar_overspending_stripe: var(--tk-custom-colours-negative-l140c060) !important;
  --header_label_negative: var(--tk-custom-colours-negative-l140c060) !important;
  --header_tbb_negative_background: var(--tk-custom-colours-negative) !important;
  --label_negative: var(--tk-custom-colours-negative) !important;
  --label_negative_active: var(--tk-custom-colours-negative-l090c090) !important;
  --label_negative_disabled: var(--tk-custom-colours-negative-l140c060) !important;
  --message_negative_accent: var(--tk-custom-colours-negative-l090c090) !important;
  --message_negative_background: var(--tk-custom-colours-negative-l160c015) !important;
  --message_negative_label: var(--tk-custom-colours-negative-l030c045) !important;
  --status_negative: var(--tk-custom-colours-negative) !important;

  /* Positive */
  --budget_balance_positive_background: var(--tk-custom-colours-positive) !important;
  --budget_balance_positive_background_active: var(--tk-custom-colours-positive-l090c090) !important;
  --budget_balance_positive_icon: #fff !important;
  --budget_balance_positive_text: #fff !important;
  --budget_bar_funded: var(--tk-custom-colours-positive) !important;
  --budget_bar_funded_spending: var(--tk-custom-colours-positive-l140c060) !important;
  --budget_bar_funded_spending_stripe: var(--tk-custom-colours-positive-l160c015) !important;
  --header_label_positive: var(--tk-custom-colours-positive-l125c065) !important;
  --header_tbb_positive_background: var(--tk-custom-colours-positive) !important;
  --label_positive: var(--tk-custom-colours-positive) !important;
  --label_positive_active: var(--tk-custom-colours-positive-l090c090) !important;
  --message_positive_accent: var(--tk-custom-colours-positive-l090c090) !important;
  --message_positive_background: var(--tk-custom-colours-positive-l160c015) !important;
  --message_positive_label: var(--tk-custom-colours-positive-l030c045) !important;
  --status_positive: var(--tk-custom-colours-positive) !important;

  /* Warning */
  --budget_balance_warning_background: var(--tk-custom-colours-warning) !important;
  --budget_balance_warning_background_active: var(--tk-custom-colours-warning-l090c090) !important;
  --budget_balance_warning_icon: #fff !important;
  --budget_balance_warning_text: #fff !important;
  --budget_bar_underfunded: var(--tk-custom-colours-warning) !important;
  --budget_bar_underfunded_spending: var(--tk-custom-colours-warning-l125c065) !important;
  --budget_bar_underfunded_spending_stripe: var(--tk-custom-colours-warning-l160c015) !important;
  --label_warning: var(--tk-custom-colours-warning-l045c055) !important;
  --message_warning_accent: var(--tk-custom-colours-warning) !important;
  --message_warning_background: var(--tk-custom-colours-warning-l160c015) !important;
  --message_warning_label: var(--tk-custom-colours-warning-l030c045) !important;
  --status_cautious: var(--tk-custom-colours-warning) !important;
}

/* Square corners */
body.tk-custom-colours-enabled[tk-custom-colours-negative-square] .ynab-new-budget-available-number.negative {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

body.tk-custom-colours-enabled[tk-custom-colours-positive-square] .ynab-new-budget-available-number.positive {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

body.tk-custom-colours-enabled[tk-custom-colours-warning-square] .ynab-new-budget-available-number.cautious {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

body.tk-custom-colours-enabled[tk-custom-colours-negative-square] .left-to-budget-is-negative .budget-header-totals-amount {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

body.tk-custom-colours-enabled[tk-custom-colours-positive-square] .left-to-budget-is-positive .budget-header-totals-amount {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

/* Options menu */
.tk-custom-colours-option-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tk-custom-colours-option-title h3 {
  width: auto !important;
}
.tk-custom-colours-option-title input {
  width: auto;
  border: var(--background_tertiary);
}

.tk-custom-colours-option .ynab-new-theme-switcher-grid {
  display: none;
}
body.tk-custom-colours-enabled .tk-custom-colours-option .ynab-new-theme-switcher-grid {
  display: flex;
}

.tk-custom-colours-positive,
.tk-custom-colours-warning,
.tk-custom-colours-negative {
  position: relative;
  border-color: var(--divider-standard);
  border-radius: 0.5rem;
  border-width: 0.125rem;
  border-style: solid;
  width: 219px;
  text-align: center;
  overflow: hidden;
}

.tk-custom-colours-option .tk-custom-colours-picker {
  width: 100%;
  height: 100px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  cursor: pointer;
}

.tk-custom-colours-picker-icon {
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M92 8c-5-4-12-4-17 0L62 22l-4-4a5 5 0 10-7 7l4 4-42 41c-2 2-3 5-3 8a81 81 0 01-1 6l-3 3v4l3 3h4l3-3h1l5-1c3 0 6-1 8-3l41-42 4 4a5 5 0 107-7L70 29l9 8 13-12c4-5 4-12 0-17zM65 43L45 63h-4l-3-3h-4l-1 1-14 14h-1v-1l24-23 15-16h4l4 4v4z"/></svg>');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: 16px;
}

.tk-custom-colours-square div {
  width: 219px;
  text-align: center;
  padding-bottom: 0.5em;
}

.tk-custom-colours-square input, .tk-custom-colours-square label {
  width: auto;
  display: inline;
  font-weight: normal;
}

.tk-custom-colours-square input {
  margin: 0 0.3em 0 0;
}
