:root {
  --background-color: #232325;
  --header-color: #1b1b1d;
  --default-text-color: #f1f1f1;
  --action-primary: #4495d7;

  .theme--dark {
    --background-color: #232325;
    --header-color: #1b1b1d;
    --default-text-color: #f1f1f1;
  }
}

body {
  color: var(--default-text-color);
  background-color: var(--background-color);
}

.toggle {
  min-width: 70px;
  height: 26px;

  &__input {
    display: none;
  }

  &__label {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #8e8e93;
    border-radius: 13px;
    height: 100%;
    width: 100%;
    transition: background-color 200ms ease;

    &::after {
      content: '';
      background-color: #3a3a3c;
      height: 24px;
      width: 50%;
      border-radius: 12px;
      position: absolute;
      left: 1px;
      top: 1px;
      transition: left 200ms ease;
    }
  }

  .toggle__input:checked + .toggle__label {
    background-color: var(--action-primary);
  }

  .toggle__input:checked + .toggle__label::after {
    left: calc(50% - 1px);
  }
}

.setting {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 1rem;

  &:first-child {
    border-top: 1px solid gray;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  &__title {
    font-weight: 500;
    cursor: pointer;
  }

  &__description {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
  background-color: var(--header-color);
  position: sticky;
  top: 0;
  z-index: 10;

  &__settings {
    margin-left: auto;
  }

  &__nav {
    display: flex;
    margin-left: 1rem;
  }

  &__nav-item {
    font-size: 1.1rem;
    padding-right: 1rem;
    cursor: pointer;

    &--selected {
      &::after {
        width: 100% !important;
        background-color: var(--action-primary) !important;
      }
    }

    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 0px;
      margin: auto;
      background-color: gray;
      transition: width 150ms ease;
      margin-top: 0.1rem;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
