.tk-auto-reconcile-modal {
  background-color: var(--tk-default-background-color);
  color: var(--tk-default-font-color);

  // Center the modal on the page
  border-radius: 10px;
  position: absolute;
  padding: 1rem;

  // Set the content styling
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.auto-reconcile-header {
  margin: 0.2em 0;
}

.auto-reconcile-input {
  width: 100%;
  border-radius: 0.4em;
  border: 2px solid var(--textinput_border_active);
}

.auto-reconcile-prompt {
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
}

.tk-modal-footer-action {
  margin-top: 1rem;
  text-align: center;
}

.auto-reconcile-error {
  margin-top: 0.2em;
  padding: 0.3em;
  border-radius: 0.4e;
  border: 2px solid var(--label_negative);
}
