.tk-auto-reconcile-modal {
  width: 300px;
}

.tk-auto-reconcile-input {
  width: 100%;
  border-radius: 0.4em;
  border: 2px solid var(--textinput_border_active);
  margin-bottom: 0.5rem;
}

.tk-autoreconcile-text {
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
}

.tk-auto-reconcile-error {
  color: red;
  margin-bottom: 0.5rem;
}

.tk-modal-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.tk-confirmation-modal {
  width: 500px;
  font-weight: 400;
}

.tk-activity-header {
  font-size: 1.5rem;
}
