.tk-autoreconcile-text {
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
}

.tk-modal-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.tk-confirmation-modal {
  width: 500px;
  font-weight: 400;
}

.tk-activity-header {
  font-size: 1.5rem;
}
