.budget-table-row .ynab-new-budget-available-number.cautious.credit {
  background-color: var(--categoryBalanceNegativeBackground) !important;
  color: var(--categoryBalanceNegativeLabel) !important;
}

body.tk-custom-colours-enabled[tk-custom-colours-negative-square]
  .ynab-new-budget-available-number.cautious.credit {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}
