.tk-accounts-header-balances-reconciled {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 0.5rem;
  border-right: solid grey 2px;
  margin-right: 0.5rem;
}

.tk-accounts-header-reconcile-balance-label {
  font-size: 0.75rem;
  color: var(--header_label_primary);
  font-weight: 400;
  font-style: italic;
}
