/* We set the colors as variables, to be able to modify them, just in case */
:root {
  --tk-color-goal-warning-underfunded: #009cc2;
  --tk-color-goal-warning-underfunded-hover: #1f8ca7;
  --tk-color-goal-warning-underfunded-message: #d0ecf5;
  --tk-color-goal-warning-underfunded-progress-inner-circle: #43aecb;
  --tk-color-goal-warning-underfunded-progress-outer-circle: var(--tk-color-goal-warning-underfunded-hover);
}

/* row */
.budget-table-row[data-toolkit-goal-underfunded]:not([data-toolkit-negative-available]) .budget-table-cell-available .ynab-new-budget-available-number:not(.negative):not(.credit) {
  color: white;
  background-color: var(--tk-color-goal-warning-underfunded);
}
.budget-table-row[data-toolkit-goal-underfunded]:not([data-toolkit-negative-available]) .budget-table-cell-available .ynab-new-budget-available-number:not(.negative):not(.credit):hover {
  background-color: var(--tk-color-goal-warning-underfunded-hover);
}

/* inspector */
.budget-inspector[data-toolkit-goal-underfunded]:not([data-toolkit-negative-available]) .budget-inspector-category-overview .inspector-overview-available dt {
  color: var(--tk-color-goal-warning-underfunded);
}
.budget-inspector[data-toolkit-goal-underfunded]:not([data-toolkit-negative-available]) .budget-inspector-category-overview .ynab-new-budget-available-number {
  color: white;
  background: var(--tk-color-goal-warning-underfunded);
}
.budget-inspector[data-toolkit-goal-underfunded]:not([data-toolkit-negative-available]) .budget-inspector-category-overview .inspector-message {
  background: var(--tk-color-goal-warning-underfunded-message);
}
.budget-inspector[data-toolkit-goal-underfunded]:not([data-toolkit-negative-available]) .budget-inspector-category-overview .inspector-message .inspector-message-arrow {
  border-bottom-color: var(--tk-color-goal-warning-underfunded-message);
}

/* Fix background of available marker, where span overrides the background color */
.inspector-overview-available span {
  background: transparent !important;
}

/* goal */
.budget-inspector[data-toolkit-goal-underfunded]:not([data-toolkit-negative-available]) .goal-progress-chart .inner-circle {
  stroke: var(--tk-color-goal-warning-underfunded-progress-inner-circle);
}
.budget-inspector[data-toolkit-goal-underfunded]:not([data-toolkit-negative-available]) .goal-progress-chart .outer-circle {
  fill: var(--tk-color-goal-warning-underfunded-progress-outer-circle);
}
