body,
body.theme-classic,
body.theme-new-default {
  --tk-master-category-row-color: var(--neutral300);
}

body.theme-dark {
  --tk-master-category-row-color: var(--neutral700);
}

.budget-table-row.is-master-category {
  background-color: var(--tk-master-category-row-color);
}
