/* row */
.budget-table-row[data-toolkit-negative-available] .budget-table-cell-available .ynab-new-budget-available-number {
	background: #d33c2d !important;
}
.budget-table-row[data-toolkit-negative-available] .budget-table-cell-available .ynab-new-budget-available-number:hover {
	background: #b43326 !important;
}

/* pacing column */
li.budget-table-cell-pacing span.cautious {
  background: #d33c2d !important;
}
li.budget-table-cell-pacing .budget-table-cell-pacing-display.cautious:hover {
	background: #b43326 !important;
}
li.budget-table-cell-pacing span.deemphasized.cautious,
li.budget-table-cell-pacing span.deemphasized.cautious:hover {
  background: none !important;
}

/* inspector */
.budget-inspector[data-toolkit-negative-available] .budget-inspector-category-overview dt.cautious {
	color: #d33c2d;
}
.budget-inspector[data-toolkit-negative-available] .budget-inspector-category-overview dd .cautious {
	background: #d33c2d;
}
