.tk-collapsible-inspector-button {
  position: absolute;
  bottom: 0;
}

.tk-collapsible-inspector-button .sidebar-collapse {
  position: relative;
  left: -6px;
  transform: rotateY(180deg);
}

.budget-inspector {
  transition: width 0.25s;
}

.budget-inspector[tk-collapse] {
  width: 56px !important;
  min-width: 56px !important;
}

.budget-inspector[tk-collapse] .tk-collapsible-inspector-button {
  width: 48px;
}

.budget-inspector[tk-collapse] .tk-collapsible-inspector-button .sidebar-collapse {
  left: 0px;
  transform: rotateY(0deg);
}

.budget-inspector[tk-collapse] .budget-inspector-content {
  padding: 0;
}

.budget-inspector[tk-collapse] .budget-inspector-content > *:not(.tk-collapsible-inspector-button) {
  display: none;
}
