.tk-collapsible-inspector-button {
  position: absolute;
  bottom: 0px;
  margin-bottom: 5px !important;
  width: 48px;
}

.tk-collapsible-inspector-button .sidebar-expand {
  position: relative;
  left: 6px;
  margin: 0px;
}

.tk-collapsible-inspector-button .sidebar-collapse {
  position: relative;
  left: -6px;
  margin: 0px;
}

.budget-inspector[tk-collapse] {
  width: 56px !important;
  min-width: 56px !important;
}

.budget-inspector[tk-collapse] .budget-inspector-content {
  padding: 0;
}

.budget-inspector[tk-collapse] .budget-inspector-content > *:not(.tk-collapsible-inspector-button) {
  display: none;
}
