.budget-table-cell-activity { 
  width: 17% !important; 
} 
 
.toolkit-popup-calc-button { 
  width: 1.75% !important; 
  overflow: visible !important; 
} 
 
.toolkit-popup-calc-overflow { 
  overflow: visible !important; 
} 
 
.toolkit-button-primary { 
    padding: .1em .1em; 
    margin-right: 0em; 
    border-radius: 0em; 
    border: 1px solid transparent; 
    color: #fff; 
    /*background-color: #009cc2;*/ 
    background-color: #005a6e; 
    font-size: 1em; 
} 
 
.toolkit-popup-calc-btnrow  { 
    height: 2.7em !important; 
} 
 
.toolkit-popup-calc-btncol4  { 
    margin-right: 0em !important; 
} 
 
.toolkit-popup-calc-button1 { 
    width: 38px; 
    box-sizing: border-box; 
    text-align: center; 
    margin-bottom: .3em; 
    margin-left: .3em; 
    margin-top: .3em; 
    margin-right: .2em; 
} 
 
.toolkit-popup-calc-button2 { 
    margin-bottom: .3em; 
    margin-top: .3em; 
    margin-right: .3em; 
    padding-bottom: .3em; 
    padding-top: .3em; 
} 
 
.toolkit-calc-actions { 
    position: absolute; 
    background-color: #005a6e; 
    /* background-color: #003440; dark */ 
    border-bottom-left-radius: .4em; 
    border-bottom-right-radius: .4em; 
    padding: .3125em .05em .3125em .3125em; 
    right: 0; 
    bottom: 0; 
    text-align: center; 
    margin-right: .3em; 
} 
 
.toolkit-popup-calc-postition { 
  position: relative; 
  overflow: visible; 
} 
