.tk-report-selector {
  background-color: var(--tk-ive-report-header-background-color);
  color: #ffffff;
  height: 3em;

  &__item {
    cursor: pointer;
    border-radius: 1000px;
    color: #ffffff;
    font-size: 0.9em;
    padding: 0.4em 1em;
    margin-right: 1em;

    &--active {
      background-color: #16a336;
    }
  }
}
