.tk-report-selector {
  background-color: var(--header_background);
  color: var(--sidebar_label_primary);
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    cursor: pointer;
    border-radius: 1000px;
    font-size: 0.9em;
    padding: 0.4em 1em;
    font-weight: 500;
    white-space: nowrap;
    color: var(--button_secondary_label);
    background-color: var(--button_secondary_background);

    &:hover {
      background-color: var(--button_secondary_background_active);
    }

    &--active {
      color: var(--sidebar_label_primary);
      background-color: var(--button_primary_background);
      &:hover {
        background-color: var(--button_primary_background);
      }
    }
  }
}
