.tk-inflow-outflow-legend {
  &__icon-inflows {
    width: 16px;
    height: 16px;
    background-color: #8ed0df;
  }

  &__icon-outflows {
    width: 16px;
    height: 16px;
    background-color: #ea6a51;
  }

  &__text-faded {
    opacity: 70%;
  }
}
