.nav-main {
  margin-bottom: 0px !important;
}

.nav-main li {
  height: 2.2rem !important;
}

.nav-main svg {
  margin-left: 15px !important;
}

.tk-navlink i {
  padding-left: 15px !important;
  margin-right: 15px !important;
}
