/* Sidebar Numbers */
.nav-accounts .negative {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

/* Accounts Header */
.accounts-header .accounts-header-total-inner.negative-working-balance {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

/* Budget Header */
.left-to-budget-is-negative .budget-header-totals-amount {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

/* Budget Numbers, pacing */
.budget-table-row .ynab-new-budget-available-number.negative,
.budget-table-row .ynab-new-budget-available-number.cautious.credit,
.budget-table-row .budget-table-cell-pacing span.negative,
.budget-table-row .budget-table-cell-pacing span.cautious {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}

/* Budget Inspector */
.budget-inspector .ynab-new-budget-available-number.negative {
  border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
}
