.tk-monthly-goals-overview .colorize-currency .currency.positive {
  color: var(--labelPositive);
}

.tk-monthly-goals-overview .colorize-currency .currency.negative {
  color: var(--labelNegative);
}

.tk-monthly-goals-overview .total-income.warning .currency {
  color: var(--statusWarning);
}

.tk-monthly-goals-overview .goal-remaining-balance.positive .currency {
  color: var(--labelPositive);
}

.tk-monthly-goals-overview .goal-remaining-balance.negative .currency {
  color: var(--labelNegative);
}

.tk-monthly-goals-overview .extra-bottom-space {
  margin-bottom: 1rem;
}
