.tk-tbb-warning {
  background-color: var(--budget_balance_warning_background) !important;
}

.tk-tbb-warning .to-be-budgeted-auto-assign {
  background-color: var(--banner_warning_button_background) !important;
  color: var(--banner_warning_button_label);
}

.tk-tbb-warning .to-be-budgeted-auto-assign:hover {
  background-color: var(--banner_warning_button_background_active) !important;
}

body {
  --budget_balance_warning_background: var(--calloutSectionWarningStrongBackground);
  --banner_warning_button_background: var(--calloutSectionWarningButtonBackground);
  --banner_warning_button_background_active: var(--calloutSectionWarningStrongBackgroundEmphasis);
  --banner_warning_button_label: var(--calloutSectionWarningButtonForeground);
}
