.modal-budget-move-money .modal, .modal-budget-overspending .modal {
    width: 20em;
    height: 20em;
}

.ynab-select-options {
    height: 20em;
}

.modal-budget-move-money .modal-actions {
    padding: 7.3em .765em .765em .765em;
}
