.tk-collapse-inspector {
  position: absolute;
  bottom: 0px;
}

.tk-collapse-inspector button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tk-collapse-inspector .sidebar-expand {
  position: relative;
  left: 7px;
  margin: 0px;
  background: var(--sidebarBackground);
  border-radius: 4px;
}

.tk-collapse-inspector .sidebar-collapse {
  position: relative;
  left: -5px;
  margin: 0px;
  background: var(--sidebarBackground);
  border-radius: 4px;
}

.budget-inspector[tk-collapse-inspector] {
  width: 56px !important;
  min-width: 56px !important;
}

.budget-inspector[tk-collapse-inspector] .budget-inspector-content {
  padding: 0;
}

.budget-inspector[tk-collapse-inspector] .budget-inspector-content > *:not(.tk-collapse-inspector) {
  display: none;
}

@media print {
  .budget-inspector[tk-collapse-inspector] {
    display: none;
  }
}
