.tk-modal-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.tk-confirmation-modal {
  width: 550px;
  font-weight: 400;
}

#tk-clear-assistant-container {
  float: right;
}
