.tk-totals-table {
  &__title-row {
    .tk-totals-table {
      &__data-cell {
        font-weight: bold;
      }
    }
  }

  &__child-row {
    .tk-totals-table {
      &__data-cell {
        &--title {
          font-weight: normal;
        }
      }
    }
  }

  &__data-cell {
    min-width: 8rem;
    max-width: 8rem;

    &--title {
      font-weight: bold;
      min-width: 12rem;
      max-width: 12rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // &__row {
  //   &--title {
  //     font-weight: bold;
  //   }
  // }

  // &__cell {
  //   &--title {
  //     font-weight: bold;
  //     max-width: 180px;
  //     min-width: 180px;
  //     white-space: nowrap;
  //     overflow: hidden;
  //     text-overflow: ellipsis;

  //     &--nested {
  //       font-weight: normal;
  //     }
  //   }

  //   &--data {
  //     max-width: 120px;
  //     min-width: 120px;
  //   }
  // }
}
