<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>{id}</string>
       <key>Developer Identifier</key>
       <string>{developer_id}</string>
       <key>CFBundleVersion</key>
       <string>{version}</string>
       <key>CFBundleShortVersionString</key>
       <string>{version}</string>
       <key>URL</key>
       <string>{update_package_url}</string>
     </dict>
   </array>
</dict>
</plist>