<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <!-- <div class="wrapper"> -->
        <div class="content"></div>
        <div class="imageOne"></div>
        <div class="content"></div>
        <div class="imageTwo">
          <div class="textBox">
            <h1>100% open source</h1>
            <p>We're here to help, not to make money.</p>
          </div>
        </div>
        <div class="content"></div>
      <!-- </div> -->
    </div>

    {% include footer.html %}

  </body>

</html>
