<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <!-- <div class="wrapper"> -->
        <div class="content"></div>
        <div class="imageOne" data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"></div>
        <div class="content"></div>
        <div class="imageTwo" data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"></div>
        <div class="content"></div>
      <!-- </div> -->
    </div>

    {% include footer.html %}

  </body>

</html>
