.collapsed-buttons {
	margin-top: 42px;
}

#toolkit-togglePrivacy {
  color: #bee6ef;
  top: 2px;
  right: 2px;
  position: absolute;
  padding: 10px;
}

#toolkit-togglePrivacy.active {
	color: #fff;
}
