div.budget-header-days-age, div.budget-header-days-label {
  visibility: hidden !important;
}

.budget-header-days {
  border-left: none !important;
}

.budget-table-cell-available .cautious {
    background-color: #19a3c5 !important;
}
