body {
  min-width: 1100px;
}

.top-navbar .navbar-brand {
  font-size: 2em;
  text-transform: none;
}

label {
  font-size: 1.3em;
}

.bootstrap-switch {
  float:right;
}

.container {
  margin-top: 22px;
}

#main-menu li {
  font-size: 1.2em;
}

.btn {
  margin: 18px 10px 0 0;
}

.active-menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#settingsSaved {
  margin: 15px 0 15px 0;
  text-align: center;
}
