body {
  min-width: 900px;
}

.navbar-header {
  width: 100%;
}

.top-navbar {
  height: 120px;
}

.navbar-default {
  background-color: white;
}

#logo {
  display: block;
  margin: 10px auto 0;
  height: 91px;
}

label {
  font-size: 1.3em;
}

.bootstrap-switch {
  float:right;
}

.container {
  margin-top: 22px;
}

#main-menu li {
  font-size: 1.2em;
}

/* Make all icons green to match the logo */
i {
  color: #3CB54A;
}

/* All switches should be green when they're on too */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: #3CB54A;
}

.btn {
  margin: 18px 10px 0 0;
  background: ##D6D6D6;
}

.btn:hover {
  background: #ccc;
}

.btn:focus {
  outline: 0 !important;
}

.btn-primary {
  background: #3CB54A;
  color: #ffffff;
}

.btn-primary:hover {
  background: #66CC72;
}

.page-header {
  margin: 10px 0;
}

.page-header-buttons {
  position: relative;
  top: -6em;
  margin-bottom: -6em;
}

.active-menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.help-block {
  color: #292929;
}

#settingsSaved {
    position: fixed;
    text-align: center;
    z-index: 99;
    top: 0px;
    left: 0px;
    width: 100%;
}
