.tk-spare-change {
  margin-right: 1rem;
}

.tk-spare-change > span {
  min-height: 1.5rem;
}

.tk-spare-change .currency.positive {
  color: var(--header_label_positive);
}

.tk-spare-change .currency.negative {
  color: var(--header_label_negative);
}

.tk-spare-change .currency.zero {
  color: var(--header_label_zero);
}
