.tk-spare-change {
  margin-right: 1rem;
}

.tk-spare-change > span {
  min-height: 1.5rem;
}

.tk-spare-change .currency.positive {
  color: var(--labelPositive);
}

.tk-spare-change .currency.negative {
  color: var(--labelNegative);
}

.tk-spare-change .currency.zero {
  color: var(--categoryBalanceZeroLabel);
}
