.budget-content ul.budget-table-header {
  height: 1.6em !important;
}

.budget-table-row.is-master-category {
  margin-top: 0px;
  height: 2em !important;
}

.budget-content ul, .budget-table-row.is-dragging {
  height: 2em;
}

.budget-table-row.is-master-category .budget-table-cell-add-category .flaticon {
  top: 0.25em;
}

.budget-table-row.is-master-category .budget-table-cell-name {
  line-height: 2em !important;
  padding-top: 0 !important;
  font-size: 1.05em !important;
  align-items: center !important;
}

.budget-table-row.is-sub-category {
  height: 1.8em !important;
}

.budget-table-row.is-sub-category .ynab-new-budget-available-number {
  top: 0 !important;
  padding: 0em 0.4em !important;
  padding: 0.1em 0.3em;
}

.budget-table-row.is-sub-category .budget-table-cell-activity {
  top: 0 !important;
}

.budget-table-cell-budgeted .js-edit-currency-input {
  padding: 0 !important;
}

.budget-table-cell-budgeted .currency-input span {
  height: 1.8em;
}

.budget-table .is-debt-payment-category .budget-table-cell-available {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.budget-table .is-debt-payment-category .budget-table-cell-available .budget-table-cell-available-payment {
  margin-right: 0.25em;
}

.toolkit-goalindicator {
  line-height: 1.8em !important;
}

.budget-table-cell-available {
  padding: 0 !important;
}
