.budget-table-header {
  height: auto !important;
}

.budget-table-header-labels {
  height: 1.5rem !important;
}

.budget-table-cell-available-payment {
  font-size: 0px;
  position: absolute;
  right: -15px;
  top: 5px;
}

.budget-table-row.is-master-category,
.budget-table-row.is-sub-category,
.budget-table-cell-margin,
.budget-table-cell-checkbox,
.budget-table-cell-collapse,
.budget-table-cell-name,
.budget-table-cell-budgeted,
.budget-table-cell-activity,
.budget-table-cell-available,
.tk-budget-table-cell-pacing {
  height: 1.6em !important;
  font-size: 0.9rem !important;
}

.budget-table-cell-checkbox.ynab-checkbox {
  font-size: 1rem;
}
