.tk-toggle-master-categories {
  display: flex;
  align-items: center;
  padding-left: 0.6em;
}

.tk-toggle-master-categories--first {
  padding-left: 0px;
}

.budget-toolbar #all-category-expand-button {
  font-size: 1.2em;
  color: var(--primary_action);
  padding: 0 0.3em 0 0;
  cursor: pointer;
}

.budget-toolbar #all-category-expand-button:disabled {
  color: var(--primary_action_disabled);
  cursor: auto;
}
