.budget-table-cell-budgeted,
.budget-table-row.is-checked .budget-table-cell-budgeted, .currency-input {
	position: relative;
}
.budget-table-row:hover .toolkit-goalindicator {
	visibility: hidden;
}

.toolkit-goalindicator {
	position: absolute;
	top: 0;
	left: 5px;
	padding-top: .25em;
	color: gray;
	font-size: 80%;
	line-height: 2.55em;
}
.toolkit-goalindicator.alt {
	left: 22px;
}
.budget-table-row.is-checked .toolkit-goalindicator {
	color: #ccc;
}