.nav-main .tk-react-tools-link {
  cursor: pointer;
}

.nav-main .tk-react-tools-link.active a .flaticon {
  color: #fed168;
}

.nav-main .tk-navlink-tools-link > span {
  height: 2.25rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 0.9rem;
}
