.tk-toggle-transaction-filters {
  display: flex;
  margin-left: 0.75rem;
}

.tk-toggle {
  display: flex;
  align-items: center;
}

.tk-toggle--reconciled::after {
  content: 'Reconciled';
  margin-left: 2px;
}

.tk-toggle--scheduled::after {
  content: 'Scheduled';
  margin-left: 3px;
}
