.budget-table-header .budget-table-cell-pacing {
  font-size: .75em;
}
.budget-table-cell-pacing {
  width: 10%;
  padding: 2px 0px !important;
  margin-left: 10px;
}
.is-master-category .budget-table-cell-pacing {
  display: none; 
}
.budget-table-uncategorized-transactions .budget-table-cell-pacing {
  display: none;
}

.budget-table-cell-pacing-display {
  border-radius: 1em;
  padding: .125em .5em .175em .5em !important;
  color: white;
  cursor: pointer;
}

.budget-table-cell-pacing-display.positive {
	background-color: #16a336 !important;
}
.budget-table-cell-pacing-display.positive:hover {
	background-color: #138b2e !important;
}
.budget-table-cell-pacing-display.cautious {
	background-color: #e59100 !important;
}
.budget-table-cell-pacing-display.cautious:hover {
	background-color: #c37b00 !important;
}

.budget-table-cell-pacing-display.deemphasized {
  color: #cfd5d7 !important;
  background-color: transparent !important;
}

.budget-table-cell-pacing-display.indicator {
  border-radius: .5em;
  height: 1em;
  width: 1em;
  margin-right: .5em;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.budget-table-cell-pacing-display.deemphasized.indicator {
  background-color: #cfd5d7 !important;
}