.budget-table-header .budget-table-cell-pacing {
  padding-right: 2em !important;
  font-size: .75em;
}
.budget-table-cell-pacing {
  width: 10%;
  padding: 2px 0px !important;
  margin-left: 10px;
}
.is-master-category .budget-table-cell-pacing {
  display: none; 
}

.budget-table-uncategorized-transactions .budget-table-cell-pacing {
  display: none;
}
.budget-table-cell-pacing-display {
  border-radius: 1em;
  padding: .125em .5em .175em .5em !important;
  color: white;
  cursor: pointer;
}

.budget-table-cell-pacing-display.deemphasized {
  color: #cfd5d7 !important;
  background-color: transparent !important;
}
